[2018-04-12 16:42] rsdcastro opened #88 "E2E Cluster API Tests"
_From @jessicaochen on January 3, 2018 19:26_

Setup E2E tests that use Cluster API for in kubernetes/test-infra

_Copied from original issue: kubernetes/kube-deploy#472_

[2018-04-12 16:53] rsdcastro opened #89 "Rebase E2E tests to use Cluster API (from kube-up)"
_From @rsdcastro on January 29, 2018 23:45_

Benefits as per @roberthbailey
- More test cycles (we will get hundreds of cluster create / delete cycles per day, hook into the upgrade test infra, etc).
- It will also force us to build enough configurability to do all of the edge cases demanded by the tests
- This can be used to convince ourselves that the API is solid and flexible (e.g. if we end up

[2018-04-12 21:10] rsdcastro opened #90 "Document network access required to run bootstrapping tool"
_From @rsdcastro on April 2, 2018 17:30_

Customers need to understand what kind of ports/protocol access is required to use the bootstrapping tool.

cc @jessicaochen

_Copied from original issue: kubernetes/kube-deploy#662_

[2018-05-02 15:45] karan opened #91 "Get kubeconfig (admin.conf) from master without SSH"
Don't know how.

kops seems to build the kubeconfig from raw information (CA, certs etc). Duplicating the CA locally seems not so safe.

[2018-05-02 18:57] karan opened #92 "Take user's input for ssh keys rather than generating them in deployer"
cc @jessicaochen

[2018-05-04 21:07] karan opened #93 "Only pull the latest kubeadm if minor or major version K8s upgrade"
Apparently "Kubeadm version v1.10.2 can only be used to upgrade to Kubernetes versions 1.10". So for patch upgrades (1.x.y to 1.x.z), we should not pull in the latest kubeadm.

[2018-05-10 15:36] rsdcastro opened #94 "Cert generation doesn't take into account cluster.yaml's service domain"
See #148 for context.

Right now we're using "cluster.local", which works for a cluster that uses the same domain. We need to support setting a service domain in cluster.yaml. This should be plumbed to be used in the cert generation code.

[2018-05-11 19:08] jessicaochen opened #96 "Cluster Controller Should Update Cluster APIEndpoints"
Currently it is the responsibility of the deployer to update cluster APIEndpoints after the control plane is provisioned. This should really live in the cluster controller so that the logic works across updates and is consistent.

[2018-05-11 19:19] jessicaochen opened #95 "Fetch Kubeconfig From Master via SSH"
Currently fetching kubeconfig for master is a per-provider implementation in the deployer. However, we could have a generic default implementation if we do the following:
1. Have the deployer generate/get a SSH key from the user
2. Have the deployer provide said SSH key to the machine controller (perhaps a mounted secret?)
3. Have the machine actuator apply the SSH key to provisioned machines
4. T

[2018-05-11 19:48] spew opened #97 "More secure transport mechanism for custom certificate authorities"
In [PR-153](https://github.com/kubernetes-sigs/cluster-api/pull/153) initial support was added for custom CAs when using gcp-deployer. The transport mechanism for bringing a custom CA onto the cluster is the instance metadata. This approach is not as secure as we may like as every user of the instance can access the private key through the metadata.

This issue tracks the need for a better approac

[2018-05-11 19:58] spew opened #98 "Port PR-153 code (to allow providing CA and key) into clusterctl"
The initial implementation of issue https://github.com/kubernetes-sigs/cluster-api/issues/52 resulted in PR https://github.com/kubernetes-sigs/cluster-api/pull/153 which only implements the functionality inside of gcp-deployer. The code will need to be ported, with potential changes in approach, to clusterctl.

[2018-05-14 20:55] spew opened #99 "Unify ssh command"
There are multiple different command execs in the codebase all doing roughly the same thing with ssh. This issue is tracking unification of all those commands.

Note that there is also the usage of the "gcloud compute ssh" command which is a bit different and it may not be desirable to unify this.

[2018-05-18 16:20] jessicaochen opened #100 "Reduce man in the middle for SSH"
Instead of setting ScrictHostKeyChecking to no, have a check to fetch the host key if there is not host key and remove the that flag. What this will do is reduce the possibility of man in the middle attacks from every time to just the first time for the machine actuator.

[2018-05-23 00:09] kcoronado opened #101 "Support using custom static pod specs"
We want to add support for the use case of a power user who wants to specify custom static pod specs for their control plane when starting up a machine instead of using the defaults from `kubeadm init`. Note that this does not eliminate the option of using `kubeadm`.

An idea for implementing this:
* Use a component setup ConfigMap to map a control plane version to the set of static pod specs to u

[2018-05-30 16:19] rsdcastro opened #102 "Test Cluster API deployment with (and scale up to) 50 nodes"
This issue is to identify whether there is any major contention in the platform-agnostic code or in the GCP-specific bits.

cc @mkjelland @spew

[2018-05-30 21:55] spew opened #103 "Move from exec.Command("ssh") to golang/x/crypto/ssh"
gcp-deployer is making use of command line ssh as an exec.Command. This is an artifact of moving quickly to build out gcp-deployer and using exec.Command on "gcloud ssh".

As per @medinatiger, we should move to the [crypto/ssh](http://golang.org/x/crypto/ssh) library built into go to give us more fine control over the interaction, remove the need to turn off host checking, and to add flexibility.

[2018-06-14 21:47] mkjelland opened #104 "Create ProviderStatus and GCEProviderStatus Objects"
Service account and firewall rule state should be stored in the cluster.status.providerStatus field. In order to make that possible the cluster.status.providerStatus field needs to be of type ProviderStatus and we need to create a new object called GCEProviderStatus.

Once the objects are created, move all cluster provider state into this field for GCE.

[2018-07-07 17:13] craigbox opened #105 "prompted for SSH key on GCE"
While setting up my new cluster, I was prompted for my SSH key which I would usually use to log into GCE VMs.

<pre>
I0707 17:58:31.742852   61559 clusterdeployer.go:225] Getting internal cluster kubeconfig.
I0707 17:58:31.742879   61559 clusterdeployer.go:341] Waiting for kubeconfig on gce-master-mpg2g to become ready...
Enter passphrase for key '/Users/craigbox/.ssh/google_compute_engine':
I0707

[2018-07-20 18:23] roberthbailey opened #10 "Switch from debian:stretch-slim to debian-base"
See https://github.com/kubernetes/kubernetes/issues/40248#issuecomment-280781931.

[2018-07-24 08:11] roberthbailey opened #13 "GCP support for Container OS"
_From @rsdcastro on April 17, 2018 18:49_

_From @rsdcastro on February 12, 2018 18:18_

See #593 for reference.

_Copied from original issue: kubernetes/kube-deploy#595_

_Copied from original issue: kubernetes-sigs/cluster-api#88_

[2018-07-24 08:11] roberthbailey commented on #13
_From @rsdcastro on April 17, 2018 18:49_

Turning this into a GCP specific issue, as there's no current infrastructure or plans to have a more general Ubuntu support that works across providers.

cc @mkjelland @krousey @kcoronado

[2018-07-24 08:12] roberthbailey opened #14 "GCP support for RHEL images"
_From @rsdcastro on April 17, 2018 18:49_

_From @rsdcastro on February 12, 2018 18:17_

See #593 for reference.

_Copied from original issue: kubernetes/kube-deploy#594_

_Copied from original issue: kubernetes-sigs/cluster-api#89_

[2018-07-24 08:12] roberthbailey commented on #14
_From @rsdcastro on April 17, 2018 18:49_

Turning this into a GCP specific issue, as there's no current infrastructure or plans to have a more general Ubuntu support that works across providers.

cc @mkjelland @krousey @kcoronado

[2018-07-24 08:12] roberthbailey opened #15 "Allow GCP service account K8s namespace to be configurable"
_From @rsdcastro on April 17, 2018 18:49_

_From @rsdcastro on February 6, 2018 17:53_

See https://github.com/kubernetes/kube-deploy/pull/570 for context.

_Copied from original issue: kubernetes/kube-deploy#573_

_Copied from original issue: kubernetes-sigs/cluster-api#91_

[2018-07-24 08:12] roberthbailey opened #16 "Use dedicated service account for machine controller pod"
_From @rsdcastro on April 17, 2018 18:50_

_From @medinatiger on February 5, 2018 20:0_

The current code is using default service account combined an admin privileged kubeconfig. We need to strip down to appropriate access permission with a dedicated service account.

_Copied from original issue: kubernetes/kube-deploy#567_

_Copied from original issue: kubernetes-sigs/cluster-api#92_

[2018-07-24 08:12] roberthbailey commented on #16
_From @rsdcastro on April 17, 2018 18:50_

This is very important, but it seems that it can be added as alpha without major changes to the system, so moving it to beta.

[2018-07-24 08:13] roberthbailey opened #17 "GCP provider: support in-place property updates on the machine"
_From @rsdcastro on April 17, 2018 18:51_

_From @rsdcastro on January 29, 2018 22:22_

_Copied from original issue: kubernetes/kube-deploy#534_

_Copied from original issue: kubernetes-sigs/cluster-api#95_

[2018-07-24 08:14] roberthbailey opened #18 "Use a pre-built node and master image"
_From @rsdcastro on April 17, 2018 18:52_

_From @karan on January 24, 2018 19:18_

Currently, spinning up nodes and masters can take ~minutes. Most of this time is due to apt-get installs. We can cache these by using a pre-built image, and then simply run `kubeadm join`. This will make node startups faster.

Similar for master.

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gc

[2018-07-24 08:19] roberthbailey opened #19 "Rewrite generate-yaml.sh as a go program"
_From @spew on May 25, 2018 20:0_

The generate-yaml.sh bash script is growing in scope and complexity. We should rewrite it as a go program to make it easier for development as well as testing.

_Copied from original issue: kubernetes-sigs/cluster-api#216_

[2018-07-24 08:19] roberthbailey commented on #19
_From @karan on May 29, 2018 17:15_

+1

[2018-07-24 08:19] roberthbailey commented on #19
Alternatively, we should move the complex logic into the gcp cluster controller and make it just set env vars like project / zone.

[2018-07-24 15:22] spew commented on #19
Agree that the better solution is to move everything into the controllers.

[2018-07-24 19:49] roberthbailey opened #20 "GCE machine actuator should collect current state"
_From @rsdcastro on April 17, 2018 11:53_

_From @jessicaochen on January 11, 2018 17:8_

The machine actuator should get current state from the actual sources (eg. kubelet version from machine, VM info from gce) instead of a cached last-applied state. This will help with cases like the state changing under the covers.

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/go

[2018-07-24 19:49] roberthbailey commented on #20
_From @rsdcastro on April 17, 2018 11:53_

_From @karan on January 24, 2018 21:41_

I'll start working on this, and handle updates to `spec.providerConfig` first. Specifically, `zone`, `machineType`, and `image`.

[2018-07-24 19:50] roberthbailey commented on #20
_From @karan on May 29, 2018 10:20_

/assign @mkjelland

since she's working on the gce provider now.

[2018-07-24 19:51] roberthbailey commented on #20
_From @karan on May 29, 2018 10:27_

/unassign @karan

[2018-07-24 19:51] roberthbailey commented on #20
_From @mkjelland on May 29, 2018 10:51_

/assign @mkjelland

[2018-07-26 03:27] justinsb opened #31 "No need for prips on the node"
Currently the node script computes in the bootstrap script the DNS server IP, using the prips tool, by finding the 10th IP.

This is kinda silly.  It would be much easier to compute it server-side in the machine-controller.  The machine controller could also get it from the kube-dns service, if the cluster is already running.  (I'm not really sure why the kubelet doesn't do this - maybe it would i

[2018-08-17 21:59] roberthbailey opened #35 "Add support for multi-project clusters on GCE"
_From @mkjelland on May 18, 2018 22:27_

Once PR #183 is merged, a single project for a cluster is defined in the GCEClusterProviderConfig. Only a single project is supported. This issue is to allow the GCEClusterProviderConfig to take a list of projects that are supported for the cluster. Then each machine will need to define its own Project field in GCEMachineProviderConfig, which will be requir

[2018-08-17 21:59] roberthbailey commented on #35
_From @rsdcastro on May 21, 2018 14:28_

Curious as to whether we heard about this use case from users and any more details they might have reported.

[2018-08-17 21:59] roberthbailey commented on #35
_From @mkjelland on May 21, 2018 15:13_

This came out of a conversation about where the configuration for the project field should be stored in PR #183

[2018-08-17 21:59] roberthbailey commented on #35
_From @rsdcastro on May 21, 2018 15:17_

Got it. It seems like no specific example was mentioned, just as a general possibility. Let's keep this issue open to gather more input.

[2018-08-17 22:09] roberthbailey opened #36 "GCP Provider: Automatically add firewall rule (if necessary)"
_From @spew on June 6, 2018 21:32_

When communicating with a cluster there needs to be a firewall rule created that enables this communication. Previously this was a manual step documented in the gcp-deployer documentation. This should be done automatically somehow so that users don't need to know about this.

_Copied from original issue: kubernetes-sigs/cluster-api#297_

[2018-08-17 22:09] roberthbailey commented on #36
_From @spew on June 6, 2018 21:35_

The manual command was:
[code]

[2018-08-17 22:09] roberthbailey commented on #36
_From @spew on June 6, 2018 22:24_

Temporarily added to generate-yaml.sh https://github.com/kubernetes-sigs/cluster-api/pull/299

[2018-08-17 22:09] roberthbailey commented on #36
_From @karan on June 8, 2018 15:41_

I don't know if many folks would be comfortable with opening all in-bound traffic. So maybe this could be a pre-requisite rather than an automated step (as much as I hate doing things manually, opening up FW rules is pretty sensitive).

[2018-09-28 09:29] oxddr opened #38 "Cannot create cluster using clusterctl: unable to create master machine: timed out waiting for the condition"
I am unable to create cluster with clusterctl using this repo from HEAD. I am getting:
F0928 10:27:27.798129  159895 create_cluster.go:61] unable to create master machine: timed out waiting for the condition

Increasing logging level to 5 doesn't provide much more information, I see a lot of checks:
I0928 10:19:06.558359  159895 clusterclient.go:433] Waiting for Machine gce-master-4btlq to become

[2018-09-28 11:55] oxddr commented on #38
Actual cause: https://github.com/kubernetes-sigs/cluster-api/issues/475

I am about to update the documentation, so it's clear which version of minikube should be used until the issue is fixed.

[2018-09-28 14:32] oxddr opened #40 "Generated addons.yaml file is incorrect and cannot be applied"
The generated addons.yaml file cannot be applied (either by passing to clusterctl or via kubectl apply). Output:

storageclass.storage.k8s.io/standard created
serviceaccount/glbc created
deployment.extensions/l7-default-backend created
configmap/ingress-controller-config created
service/default-http-backend created
deployment.extensions/l7-lb-controller created
secret/glbc-gcp-key created
Error fr

[2018-09-28 14:42] oxddr commented on #40
This is the problematic part of [addons.yaml.template](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/master/clusterctl/examples/google/addons.yaml.template), but I have no idea what's wrong in here.

[code]

[2018-09-29 05:34] roberthbailey commented on #38
Thanks for noticing, finding the cause, and sending a fix. This has been a "known issue" without a simple documentation fix for a while now.

[2018-10-01 10:28] #38 closed

[2018-10-16 10:17] roberthbailey opened #44 "Remove ginkgo code (introduced by kubebuilder migration)"
We previously went through and removed all of the ginkgo code. Then it came back. There is only a tiny bit of it in this repo and the sooner we take it out the easier it will be to do so.

This should be relatively easy, even for someone new to the project.

/cc @krousey

[2018-10-18 04:37] #44 closed

[2018-10-27 21:08] dlipovetsky opened #48 "Update k8s.sigs.io/cluster-api source to upstream"
The source changed as part of #37. Now that upstream has migrated to CRDs, the source can changed back.

https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/c6fbd195510994139762a989c56057125d5358ca/Gopkg.lock#L800

[2018-10-30 15:52] oxddr opened #50 "Cannot create cluster as HEAD"
I cannot create a new cluster using HEAD of this repo. The first issue I hit is https://github.com/kubernetes-sigs/cluster-api/issues/533. I've managed to get bootstrap cluster to work by combination of updating minikube to the newest version and passing `--minikube "kubernetes-version=v1.12.0"` to `clusterctl`. However I still hit the same problem in target cluster, which is running K8s 1.9.4. A

[2018-11-02 18:20] radkat opened #51 "[FR] authentication with GCP"
Currently the authentication is done via cloud service account. Allow authentication similar to that in https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L305

[2018-11-13 22:09] #50 closed

[2018-11-28 21:14] benmoss opened #59 "Doesn't work with latest minikube"
It looks like minikube v0.30.0 isn't a recent enough version of the k8s API to work with the cluster API libraries being used here. Specifically when following the directions in the README, you'll hit this error when running `clustectl create cluster`:

[code]

It looks like the [code here](https://github.com/kubernetes-sigs/cluster-api/blob/5a27d984f9af41aa4f952e7c36a11bfbfb042b83/cmd/clusterctl/

[2018-11-29 21:48] justinsb opened #64 "apt-key timeouts cause node to fail to start"
I observed a node that failed to join the cluster, because `apt-key` failed.

[code]

Wondering if we should pivot to golang now, instead of wasting time trying to harden this

[2018-11-30 09:11] oxddr commented on #59
I had the same problem. AFAIK the root cause it that Kubernetes in versions older than v1.12 doesn't support sub-resources in CRDs, at least not out of the box.

My workaround was to explicitly state the version of Kubernetes to use by minikube - this can be done by adding a flag to clusterctl invocation `--minikube="kubernetes-version=v1.12.0"`. I'll create a PR to make this explicit.

[2018-11-30 09:26] #40 closed, assigned to nobody

[2018-11-30 13:16] oxddr opened #66 "Cannot create VMs for Machines. /root/.kube/config missing"
I've created cluster from HEAD. Initial machines as defined in `machines.yaml` have been created succesfully. However when I tried to create Machinset [1], VMs for underlying Machines have not been created. Based on logs, it seems there is a problem while genering kubeadm token:

[code]

[1]
[code]

[2018-11-30 13:36] #59 closed

[2018-12-03 12:45] oxddr commented on #66
As for now, my workaround was to copy /etc/kubernetes/admin.conf over from master machine to worker node running clusterapi stack.

[2018-12-04 19:45] roberthbailey opened #69 "Allow configuration of network and subnetwork in GCE cloud provider"
_From @mkjelland on April 16, 2018 22:46_

Currently the machine actuator hard codes the network and subnetwork that it creates the instances in. Eventually we want to be able to provision networks/subnetworks for the cluster to live in. For now, we should allow users to specify the network and subnetwork names where they want the cluster to be created.

This issue includes:

- Split GCEProviderCo

[2018-12-04 19:45] roberthbailey commented on #69
_From @mkjelland on May 31, 2018 18:9_

Make sure to allow for the long form of network/subnetwork (<projectid>/regions/asia-northeast1/subnetworks/default) so that cross project networks will be supported.

[2018-12-04 20:06] roberthbailey opened #70 "Set up firewall rules for cluster in GCP deployer"
_From @kawych on May 3, 2018 16:33_

In clusters created with GCP deployer, pods can't connect to ports exposed by Kubelet on other nodes. For my cluster "test1" I worked it around adding a firewall rule:
[code]
192.168.1.0/24, 192.168.0.0/24 are IP ranges of pods in my cluster.

cc @karan @krousey

_Copied from original issue: kubernetes-sigs/cluster-api#132_

[2018-12-07 01:32] puneetguptanitj opened #71 "gcp-provider-controller-manager goes into crashloop"
While trying 35cbb1e75722a23fcf8917b25087b35acfe14cf3 faced this issue
[code]
Saw that gcp-provider-controller-manager-0  is complaining about `manager` location

[code]
Perhaps gcp-provider-controller-manager image has not been updated. for this change https://github.com/kubernetes-sigs/cluster-api-provider-gcp/commit/7329c8da6c45a483c7ef0c4b2e0cdc2c4e9d9e1b. Below is the image i get even if i fo

[2018-12-14 13:25] oxddr opened #72 "Machine's spec got truncated when creating via kubectl"
Here is Machine definition, copied from example/out/ directory.

[code]

I tried to create this Machine using `kubectl create -f mymachine.yaml`. The object is created but it contect is truncated. Calling `kubectl desccribe` on this machine returns

[code]

Both kubelet version and provider config got somehow truncated.

[2018-12-17 22:07] justinsb opened #75 "Consider changing API group"
Our API group for config objects is `gceproviderconfig.k8s.io`, and the kind is `GCEClusterProviderSpec`

I'm wondering if we should try to have something to do with cluster api in there, and try to be less specific about config.

e.g. cluster-api is `cluster.k8s.io` - should we be `gce.cluster.k8s.io` ?

(extracted for focused bikeshedding from https://github.com/kubernetes-sigs/cluster-api-provi

[2018-12-27 21:55] bsingarayan opened #81 "unable to apply cluster api stack to bootstrap cluster"
I am following the exact guidelines as shown in
https://github.com/kubernetes-sigs/cluster-api-provider-gcp#getting-started
and cluster creation fails
![screen shot 2018-12-27 at 1 48 40 pm](https://user-images.githubusercontent.com/19411970/50495492-50882480-09de-11e9-8038-b6d2e0fd45a0.png)

Please let me know how to proceed. I haven't done any fancy stuffs, just following the guidelines.
and bel

[2019-01-03 17:53] roberthbailey commented on #81
The command gets further for me than it does for you, although it still doesn't finish:

[code]

[2019-01-03 17:57] roberthbailey commented on #81
I diff'd my provider components yaml file against yours and other than the expected differences, the only thing I see is the changes merged in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/85.

[2019-01-03 18:02] roberthbailey commented on #81
From your debugging output, it looks like the CRD is successfully created (that's what is defined in the provider components yaml) but the machine(s) cannot be successfully applied to your cluster. What does your machines.yaml look like? And can you verify that you have the correct validation (the disk part is at https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/master/config/crds/g

[2019-01-03 19:50] bsingarayan commented on #81
Thanks much Robert for taking a look.
Am attaching the machines.yaml and cluster.yaml file. Please take a look.
[machines.yaml.txt](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/files/2725114/machines.yaml.txt)
[cluster.yaml.txt](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/files/2725116/cluster.yaml.txt)

Let me know what is to be done.

[2019-01-03 21:02] roberthbailey commented on #81
Those files look the same as mine (diffs only show different project names). I also noticed that you are using 1.12.4 instead of 1.12.0 as the k8s version in minikube but that doesn't seem to change any output that I'm seeing.

What version of kubectl is on your path? I think that there was an issue with kubectl at some point and I stopped upgrading. It looks like I'm still using 1.8.11:

[code]

[2019-01-03 21:05] roberthbailey commented on #81
The issue that caused me to pin kubectl was https://github.com/kubernetes-sigs/cluster-api/issues/137. It looks like that may have been fixed in a later release, but I haven't gone back and tried newer ones.

[2019-01-03 23:04] bsingarayan commented on #81
Changing it the kubectl client version to v1.8.11 and modifying the code to pass validate==false still doesn't work.
'[apply --kubeconfig /var/folders/0l/mxwq2jtd3w7fkg2mxh5sbl9c0000gn/T/977848574 --validate=false]'

I get the same output
W0103 14:06:18.111008   19461 clusterclient.go:517] BABU - Kubectl args is '[apply --kubeconfig /var/folders/0l/mxwq2jtd3w7fkg2mxh5sbl9c0000gn/T/977848574 --vali

[2019-01-03 23:33] justinsb commented on #81
So "timed out waiting for the condition" looks like it means that the machine didn't go ready in time.  You might want to try passing `--v=2` or `--v=4` though I don't think you'll get much more information.

I'm not sure if "Cleaning up bootstrap cluster" means the objects were deleted, but you could check the status of the machine in the default namespace during the 30 minute timeout...  Maybe t

[2019-01-04 01:40] bsingarayan commented on #81
I did v=10 earlier and below is the output

I0103 17:00:57.298647   22785 clusterclient.go:577] Waiting for Machine gce-master-njnlj to become ready...
I0103 17:01:07.299615   22785 clusterclient.go:577] Waiting for Machine gce-master-njnlj to become ready...
I0103 17:01:17.299163   22785 clusterclient.go:577] Waiting for Machine gce-master-njnlj to become ready...
I0103 17:01:27.296305   22785 cl

[2019-01-04 08:40] roberthbailey commented on #81
Found the first issue - I'd pushed a new version of the gcp-provider-controller-manager image and forgot to set acls to publicly readable. You should now see the master machine get created on GCP running clusterctl using the latest image.

[2019-01-04 08:57] roberthbailey commented on #81
On the GCE VM I see both `cluster-api-controller-manager-0` and `gcp-provider-controller-manager-0` crash looping because they are unable to dial the API server via the service IP:

[code]

kube-proxy is running on the master but what is interesting is that while I can successfully curl the service IP from on the machine, I cannot reach it from within a busybox pod that I run on the master. And I

[2019-01-04 09:22] roberthbailey commented on #81
From my busybox pod I see a timeout trying to reach both the cluster IP and also the external IP for the kubernetes service:

[code]

[2019-01-04 09:54] roberthbailey commented on #81
Since the problem seems related to be the lack of pod <-> pod network connectivity, I tried installing calico into my cluster, but that doesn't seem to have fixed anything.

[2019-01-04 19:12] bsingarayan opened #87 "If minikube already exists then create cluster doesn't work"
./bin/clusterctl create cluster --provider google -c cmd/clusterctl/examples/google/out/cluster.yaml -m cmd/clusterctl/examples/google/out/machines.yaml -p cmd/clusterctl/examples/google/out/provider-components.yaml -a cmd/clusterctl/examples/google/out/addons.yaml --minikube="kubernetes-version=v1.12.4" --v=4
I0104 11:07:43.406268   28287 machineactuator.go:813] Using the default GCP client
I0104

[2019-01-04 20:59] bsingarayan commented on #81
Your system looks much better. I updated my sanbox with your commits, and I am running into below error. The machines are not getting created.

./bin/clusterctl create cluster --provider google -c cmd/clusterctl/examples/google/out/cluster.yaml -m cmd/clusterctl/examples/google/out/machines.yaml -p cmd/clusterctl/examples/google/out/provider-components.yaml -a cmd/clusterctl/examples/google/out/ad

[2019-01-05 19:57] babu-selector commented on #81
I get the below error when using the same clusterctl create command

I0104 15:26:40.158070   70886 clusterclient.go:574] Waiting for Machine gce-master-nplkn to become ready...
I0104 15:26:50.157910   70886 clusterclient.go:574] Waiting for Machine gce-master-nplkn to become ready...
I0104 15:27:00.159249   70886 clusterclient.go:574] Waiting for Machine gce-master-nplkn to become ready...
I0104 1

[2019-01-11 18:55] #14 closed

[2019-01-11 18:57] roberthbailey commented on #15
It looks like the namespace is no longer a const and is now configurable.

[2019-01-11 18:57] #15 closed

[2019-01-11 18:59] #17 closed

[2019-01-11 19:02] #36 closed

[2019-01-11 19:02] roberthbailey commented on #48
This has been fixed.

[2019-01-11 19:02] #48 closed

[2019-01-11 19:07] roberthbailey commented on #71
This seems related to https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/63 but I have pushed new images in the last couple of weeks and I no longer see this issue, so I think it's been fixed.

[2019-01-11 19:07] #71 closed

[2019-01-11 19:08] roberthbailey commented on #72
@oxddr - is this reproducible? What version of kubectl are you using?

[2019-01-11 19:09] roberthbailey commented on #75
If we are going to change the api group, the sooner the better. Want to send a PR?

[2019-01-11 19:11] roberthbailey commented on #87
@bsingarayan - what do you think clusterctl should do in this case? Should it fail fast if minikube exists? One option is to pass in the `--existing-bootstrap-cluster-kubeconfig` flag pointing at the kubeconfig file for minikube to use a running minikube instead of trying to create minikube.

[2019-01-11 20:10] roberthbailey commented on #87
This is an issue with clusterctl "upstream", and is tracked in https://github.com/kubernetes-sigs/cluster-api/issues/413 so I'm going to close this as a dupe of that one.

[2019-01-11 20:10] #87 closed

[2019-01-11 20:39] oxddr commented on #72
I haven't checked this recently, but at the time when I opened this issue this was 100% reproducible.

Unfortunately I can't check kubectl version at the moment. I am going to be AFK for 2.5 weeks, but can have a look once I am back.

[2019-01-13 16:35] girikuncoro commented on #81
I'm hitting this exact issue, where `cluster-api-controller-manager-0` and `gcp-provider-controller-manager-0` are crashlooping since they are not able to reach kube API server through service IP. I think this is mostly related to pod network issue, I tried installing flannel with network 192.168.0.0/16 from [kubeadm doc](https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d

[2019-01-14 06:41] babu-selector commented on #81
Could you please exact steps to fix this issue as a workaround? It would unblock me and get it going.

Thanks

[2019-01-15 04:06] girikuncoro commented on #81
@babu-selector this is hack that I did:
1. create cluster using `clusterctl` as usual
[code]

2. wait until it reaches creating nodes
[code]

3. at this stage, clusterctl will wait forever (eventually timingout) if you don't do something, since it's waiting for components in control plane to be ready. control plane node should be up in GCP, so ssh into it. Get `gcloud` command from your google con

[2019-03-04 15:49] chuckha opened #112 "Document the release process"
I'm looking to see how various providers are released so cluster-api can start providing guidance on provider release process. The goals/motivations/ideas are all [documented here](https://docs.google.com/document/d/17tY88ysZPDH2rZ9BkewPxETViqivdWDJPrVl_P1TpLg/edit#)

[2019-03-04 15:49] chuckha commented on #112
/kind documentation

[2019-03-07 15:32] ncdc opened #113 "Document alignment with supported Cluster API and Kubernetes versions"
Let's add a section to the README that describes which versions of Cluster API work with which versions of this repository.

Let's also add a section that describes which versions of Kubernetes this provider is able to provision.

**Example:**
This provider's versions are compatible with the following versions of Cluster API:

||Cluster API 0.1|Cluster API 0.2|
|-|-|-|
|XYZ Provider 0.1|✓||
|XYZ P

[2019-03-26 12:28] rsmitty opened #122 "Support additional metadata for instances"
As I've been getting familiar with the GCP cluster-api provider, I've noticed that there is really only a "startup-script" that can get passed in as a metadata item for the instances that get created. I'd love to be able to squirrel away other metadata as desired. I've got a PR that I'll be chasing this issue with that provides this functionality.

[2019-03-26 19:15] rsmitty opened #124 "Support External IPs"
I'm interested in having some defined external IPs that I can attach to my master instances, so that I can know how to reach them ahead of time. I'll be following this issue with a PR that provides code to do this so we can get started talking about how folks feel about it.

[2019-04-13 23:43] kvenkata986 opened #126 "Prerequisites section in readme document doesn't have a step to install go"
Current prerequisites section doesn't have the step to install GO. So included a step in prerequisite section to install go
https://github.com/kubernetes-sigs/cluster-api-provider-gcp/compare/master...kvenkata986:patch-1

[2019-05-19 10:33] #122 closed

[2019-06-18 20:26] vincepri commented on #96
/remove-lifecycle rotten

[2019-06-24 19:41] vincepri commented on #124
/remove-lifecycle stal

[2019-06-27 09:45] #13 closed

[2019-06-27 09:45] #18 closed

[2019-06-27 09:45] #19 closed

[2019-06-27 09:45] #31 closed

[2019-06-27 09:45] #20 closed

[2019-06-27 09:45] #35 closed

[2019-06-27 09:45] #51 closed

[2019-06-27 09:45] #64 closed

[2019-06-27 09:45] #66 closed

[2019-06-27 09:45] #69 closed

[2019-06-27 10:46] #70 closed

[2019-06-27 10:46] #75 closed

[2019-06-27 10:46] #89 closed

[2019-06-27 10:46] #88 closed

[2019-06-27 10:46] #90 closed

[2019-06-27 10:46] #91 closed

[2019-06-27 10:46] #95 closed

[2019-06-27 10:46] #92 closed

[2019-06-27 10:46] #94 closed

[2019-06-27 10:46] #93 closed

[2019-06-27 11:48] #99 closed

[2019-06-27 11:48] #100 closed

[2019-06-27 11:48] #101 closed

[2019-06-27 11:48] #102 closed

[2019-06-27 11:48] #103 closed

[2019-06-27 11:48] #104 closed

[2019-06-27 11:48] #105 closed

[2019-06-27 11:48] #97 closed

[2019-06-27 11:48] #98 closed

[2019-06-27 12:48] #16 closed

[2019-06-27 13:49] #72 closed

[2019-06-27 23:59] #81 closed

[2019-07-05 17:03] detiber commented on #113
/remove-lifecycle rotten

[2019-07-24 20:30] detiber commented on #124
/remove-lifecycle stale

[2019-07-24 20:31] detiber commented on #124
/remove-lifecycle rotten

[2019-07-25 16:36] #124 closed

[2019-08-01 17:34] detiber commented on #112
/reopen

[2019-08-01 17:34] detiber commented on #112
/remove-lifecycle rotten

[2019-08-01 21:17] sb1975 opened #140 "error running commands"
ubuntu@k8smaster:~/go/src/sigs.k8s.io/cluster-api-provider-gcp$ ./kustomize build config/default/ > cmd/clusterctl/examples/google/out/provider-components.yaml
Error: json: unknown field "commands"

ubuntu@k8smaster:~/go/src/sigs.k8s.io/cluster-api-provider-gcp$ ./kustomize build vendor/sigs.k8s.io/cluster-api/config/default/ >> cmd/clusterctl/examples/google/out/provider-components.yaml
Error: ac

[2019-09-05 08:50] jmyung opened #142 "unable to create machine for error unmarshaling JSON"
Dear all,

as the [Cluster Creation](https://github.com/kubernetes-sigs/cluster-api-provider-gcp#cluster-creation) guide,
[code]

I got this error from `gcp-provider-controller-manager-0`

- error message
[code]

- entire logs
[code]

How can I resolve this problem?
Many thanks,

[2019-09-06 15:39] detiber commented on #142
I suspect that the `generate-yaml.sh` script might have generated an invalid, could you share the output of `kubectl get -n gcp-provider-system configmap machinesetup -o yaml`?

[2019-09-08 15:21] jmyung commented on #142
@detiber, here is the thing. thank you.

[code]

[2019-09-11 02:32] #126 closed

[2019-09-11 15:04] vincepri commented on #96
This has been fixed on master, v1alpha2 as part of #143

/close

[2019-09-11 15:04] #96 closed

[2019-09-11 17:46] rsmitty opened #147 "Error creating provider-components.yaml"
/kind bug

**What steps did you take and what happened:**

Running the generate.sh against master errors after generating provider-components-gcp.yaml
 and before consolidating all yaml files into provider-components.yaml. Error shown is:
[code]
**What did you expect to happen:**

provider-components.yaml gets written to the _out directory.

**Anything else you would like to add:**

This seems to

[2019-09-11 17:56] #147 closed

[2019-09-11 19:39] vincepri opened #150 "Add the ability to customize Service Account and Scopes"
/kind feature
/help
/good-first-issue
/milestone v0.2

**Describe the solution you'd like**
The current implementation has hardcoded the service account and its scope https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/420b2cea43922672bdaae9b69eb66045ff33b41b/cloud/services/compute/instances.go#L103-L112.

We need to add a way for users to specify their own service account email and w

[2019-09-11 19:43] vincepri opened #151 "Add GCP to the Cluster API Quick Start"
/kind documentation
/help

**Describe the solution you'd like**
We need to document every step and requirement needed as part of this effort and when ready, we need to PR the upstream repository to add new tabs to this page https://cluster-api.sigs.k8s.io/user/quick-start.html.

[2019-09-11 19:45] vincepri opened #152 "Figure out how to publish images"
/kind design

**Describe the solution you'd like**
Currently, the image building lives in https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi/packer/gce. We don't have a good way to share images with users yet and I'm not totally sure if it's possible in GCP to make images of a project public.

This issue needs a little bit more investigation, in the mean time, we can ask user

[2019-09-12 00:33] sb1975 opened #153 "Build images doesnt work"
/kind bug
root@capd-2:~/image-builder/images/capi/packer/gce# make build-gce-default
make: *** No rule to make target 'build-gce-default'.  Stop.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Envi

[2019-09-12 01:07] sb1975 opened #154 "error running "make create cluster""
/kind bug

root@capd-2:~/cluster-api-provider-gcp# make create-cluster
kind create cluster --name=clusterapi
Creating cluster "clusterapi" ...
 ✓ Ensuring node image (kindest/node:v1.15.3) 🖼
 ✓ Preparing nodes 📦
 ✓ Creating kubeadm config 📜
 ✓ Starting control-plane 🕹️
 ✓ Installing CNI 🔌
 ✓ Installing StorageClass 💾
Cluster creation complete. You can now use the cluster with:

export KUBECONFIG="

[2019-09-12 01:10] sb1975 commented on #151
I agree, at least some basic steps need to be there to even attempt unless you are expert in the code and understand the flow very well already..

[2019-09-13 10:17] tahsinrahman commented on #150
/assign
/lifecycle active

[2019-09-13 14:04] rsmitty opened #156 "Error when creating machines b/c of k8s version"
/kind bug

**What steps did you take and what happened:**
The examples that get generated don't work out of the box once you create the controlplane. This seems to be failing on the semver parsing of the kubernetes version, specifically because of the leading `v`. Here's the error I encountered:

[code]

**What did you expect to happen:**

Control plane gets created.

**Anything else you would lik

[2019-09-13 16:42] jdef commented on #156
once the semver problem is fixed, the default machine family name (a few dozen lines down) is also not going to match up. I had to inject a "v" prior to the major version, so my family generator looks like this now:
[code]

[2019-09-13 16:47] vincepri commented on #156
Thanks @jdef, @rsmitty do you think you could fix that as well as part of your PR?

[2019-09-13 17:18] rsmitty commented on #156
sure, on it.

[2019-09-13 17:40] #156 closed

[2019-09-13 19:26] #150 closed

[2019-09-18 10:14] saravanakumar-periyasamy commented on #152
we could create a virtual disk and share it from public GCS bucket. And users can create custom images by importing the virtual disks - https://cloud.google.com/compute/docs/import/importing-virtual-disks

[2019-09-18 12:10] alejandrox1 commented on #153
I'd like to take a look at this
/assign

[2019-09-18 12:11] alejandrox1 commented on #152
I'd like to help out with this one
/assign

[2019-09-18 14:03] #154 closed

[2019-09-18 15:53] vincepri commented on #152
/assign @justinsb

[2019-09-18 19:28] jdef opened #163 "starting/stopping clusters on GCP leaves instance groups behind"
/kind bug

**What steps did you take and what happened:**

* spin up a cluster (ala make create-cluster)
* reverse the steps (delete the machine deployment, control plane, cluster)
* observe instance groups for the control plane are still present in the GCP project

**What did you expect to happen:**

* the instance groups would be cleaned up

**Anything else you would like to add:**

N/A

**Envir

[2019-09-19 00:06] dims opened #165 "create-cluster takes too long"
/kind bug

The backend service is not getting updated with the information about the instance groups / instances immediately when the create vm is successful, we wait for a terribly long time (10+ mins) for another loop to update reconcile the load balancers. there is lot of notes and a temporary fix in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/162.

So this issue is essenti

[2019-09-19 00:08] vincepri commented on #165
/lifecycle active

[2019-09-19 01:11] #163 closed

[2019-09-19 01:11] #165 closed

[2019-09-19 15:34] rsmitty opened #167 "Latest master doesn't reconcile GCP clusters"
/kind bug

**What steps did you take and what happened:**

The latest master code doesn't seem to create the cluster controller. I can see in the logs that the machine controller gets started up twice:
[code]
I believe this is because of [this](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/166/files#diff-89b0d50aa8ae6be0b19f5d317506bfb4L51) line that got changed in #166 specific

[2019-09-19 15:59] vincepri commented on #167
/lifecycle active

[2019-09-19 16:56] vincepri commented on #140
/priority awaiting-more-evidence

[2019-09-19 17:51] #167 closed

[2019-09-19 20:50] jdef opened #171 "pivot fails to finish moving Machines after Cluster has been moved"
/kind bug

**What steps did you take and what happened:**

* spin up a bootstrap cluster via KIND (ala similar steps to `make create-cluster`)
* deploy CAP/GCP control plane and spin up a remote cluster on GCP
* execute an `clusterctl alpha phases pivot ...` operation to transition ownership of the remote cluster from KIND to .. the remote cluster
  - observe failure here (see logs below)

**What

[2019-09-20 20:21] jdef opened #173 "manually deleted worked VMs respawn but fail to properly bootstrap"
/kind bug

**What steps did you take and what happened:**

1. spawn a remote k8s cluster on GCP via KIND bootstrap ala this provider
2. apply the machinedeployment to create 2 workers
3. manually delete 1 worker VM via the GCP console
4. observe that the VM is respawned, machine status is "provisioned" but the a node object is never registered because bootstrapping fails

**What did you expect to

[2019-09-20 21:25] vincepri commented on #173
This is a design decision from Cluster API, the Machines are treated as immutable, the bug here might have been that we actually try to recreate it instead of fast failing.

[2019-09-20 21:32] jdef commented on #173
@vincepri what does "fast failing" mean in this context? label the machine as "gone" so that some periodic machine-gc-controller can remove it and make room for a new machine to spawn?

[2019-09-20 21:35] detiber commented on #173
@jdef Instead of recreating the instance the controller should set the ErrorMessage and ErrorReason in the status for the instance. For an example here is how the AWS provider handles it: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/257c5215d85a73ccf9acce343f93f438ee510bd9/controllers/awsmachine_controller.go#L265-L269

[2019-09-23 13:14] jdef commented on #173
NOTE: deleting the zombie/re-spawned machine via apiserver did the trick - the machine was torn down, and new machine came up that properly bootstrapped.

[2019-09-24 03:59] tahsinrahman opened #176 "Use default os image location if not found in user's project"
/kind feature

**Describe the solution you'd like**

Currently, CAPG expects os image should be present in my gcp project
https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/4591af53eb02bb17fd08d22999bf7b7534fabab9/cloud/services/compute/instances.go#L91-L93

In CAPA, if we don't define AMI, it looks for image in  heptio org

I'd be great if we have similar thing here, so user trying

[2019-09-24 14:52] vincepri commented on #176
Seems like a duplicate of #152

[2019-10-01 13:48] randomvariable commented on #151
/assign

[2019-10-01 13:51] randomvariable commented on #113
Related to https://github.com/kubernetes-sigs/cluster-api/issues/807

[2019-10-02 13:18] dims opened #202 "CI e2e test permutations"
At some point we have to decide how many CI jobs we will need for assuring stability. Variables seem to be:

- Version of Kind
- Version of cluster-api
- Version of cluster-api-bootstrap-provider-kubeadm
- Version of cluster-api-provider-gcp
- Version of Image Builder
- Version of Kubeadm
- Version of Kubernetes installed
- Version of e2e tests (may be different from version of k8s installed)

Wha

[2019-10-04 15:09] dims commented on #153
packer+ansible does not work when running as root. please run as a regular user

/close

[2019-10-04 15:09] #153 closed

[2019-10-30 21:54] wfernandes opened #237 "control-plane label has incorrect value for capg-controller-manager pod"
/kind bug

**What steps did you take and what happened:**
1. `make generate-examples`
1. `kubectl apply -f examples/_out/provider-components.yaml`
1. `kubectl describe pod <capg-controller-manager> -n capg-system`

Notice that the labels are:
[code]

**What did you expect to happen:**
The label should be `control-plane=capg-controller-manager`.

[2019-10-30 22:33] wfernandes opened #238 "Include default network name when generating examples"
/kind bug

**What steps did you take and what happened:**
1. `make generate-examples`
1. In `examples/_out/cluster.yaml` I see the following:
[code]

**What did you expect to happen:**
I'd expect to see a sane default value like `default` as per the notes in the [pre-requisite docs](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/fca367e615a3efaf4504ca39b371776dbcb4db63/docs/prere

[2019-10-30 23:31] #237 closed

[2019-10-31 00:41] #238 closed

[2019-10-31 18:51] nader-ziada opened #243 "Error message saying EC2 instead of GCE"
/kind bug

**What steps did you take and what happened:**
Checking the GCPmachine object yaml

for example when a GCE vm failed I got the following status
[code]

**What did you expect to happen:**
Should say `GCE instance` since this is the GCP provider

**Environment:**

- Cluster-api version: v1alpha3

[2019-10-31 19:06] #243 closed

[2019-11-14 02:21] nader-ziada opened #255 "make delete-cluster doesn't work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
 - ran `make create-cluster` which creates a `kind` bootstrap cluster followed by a cluster running on gcp
 - after finishing tests on the gcp cluster, ran `make delete-cluster` but failed
-  `delete-cluster` tries to create a bootstrap `kind` cluster with the same name of the existing c

[2019-11-14 19:59] noamran opened #256 "Rename ErrorMessage and ErrorReason to FailureMessage and FailureReason"
This issue is a follow up on-  https://github.com/kubernetes-sigs/cluster-api/issues/1670.

Once the rename is merged, a similar rename should be done in this provider.

/kind cleanup

[2019-11-14 22:05] noamran commented on #256
/assign

[2019-12-07 05:43] #256 closed

[2019-12-10 03:32] nader-ziada commented on #255
`make delete-cluster` has been removed from the Makefile 👍

[2019-12-10 03:32] #255 closed

[2019-12-10 23:02] jzhoucliqr opened #267 "auto create cloudnat / bastian nodes if needed"
/kind feature

Do you guys think it makes sense to have option to auto create cloudnat / bastian nodes if user choose not to have external IP for the nodes?

[2019-12-10 23:42] vincepri commented on #267
We've left it to users to configure Cloud NAT, given that it's fairly expensive today. It should be better from January 1st, when GCP said it'll cost 0$ if unused (IIRC, need to double check)

[2019-12-11 01:38] #142 closed

[2019-12-17 11:42] nader-ziada opened #271 "timeout command not available on mac os"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- running `make create-cluster` gives an error about the timeout command not available on mac os

**What did you expect to happen:**
To be able to execute the commands that would create the test cluster

[2019-12-17 11:43] nader-ziada commented on #271
one workaround I used is the following:
[code]

[2019-12-17 15:48] vincepri commented on #271
Maybe we should add `coreutils` for mac users in the quick start?

[2019-12-17 15:56] nader-ziada commented on #271
Yeah, just a doc update somewhere. Wasn’t sure what the best place is

[2019-12-17 16:38] vincepri commented on #152
/lifecycle frozen

[2019-12-17 17:35] ncdc opened #273 "ci-cluster-api-provider-gcp-make-conformance-stable has compilation issues"
From e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-provider-gcp-make-conformance-stable/1206947276807737346:

[code]

/kind failing-test
/help

[2019-12-17 17:37] vincepri commented on #273
/assign

[2019-12-30 16:22] vincepri commented on #151
/lifecycle frozen

[2020-01-15 19:01] mcastelino opened #278 "Incorrect URI used for subnetwork setup"
/kind bug

**What steps did you take and what happened:**

Specifying sub network does not work due to incorrect URI being used

[code]
It should be `subnetworks` not `subnetwork`
[code]

**What did you expect to happen:**

User should be able to create and use custom subnets.

**Environment:**

- Cluster-api version: v1 alpha 2 (but the bug is present in master)
- Minikube/KIND version: 0.7.0
- K

[2020-01-21 17:37] vincepri commented on #173
/lifecycle frozen
/priority awaiting-more-evidence

[2020-01-23 04:54] vincepri commented on #171
Closing this given that v1alpha3 ships with clusterctl v2

/close

[2020-01-23 04:54] #171 closed

[2020-02-16 18:30] #140 closed

[2020-02-19 13:06] rishi-anand opened #286 "Subnetwork url is incorrect"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
gce url format for subnetwork should be `/subnetworks` instead of `/subnetwork`

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: v1alpha2
- Minikube/K

[2020-02-21 16:25] #176 closed

[2020-02-29 15:31] #202 closed

[2020-03-11 18:41] benmoss commented on #273
/close
This was fixed by https://github.com/kubernetes-sigs/kustomize/pull/1984

[2020-03-11 18:41] #273 closed

[2020-03-13 13:29] enxebre opened #289 "GPU support"
/kind feature

**Describe the solution you'd like**
As a user I'd like to declarative define which GPU I want for my instances

**Anything else you would like to add:**
https://cloud.google.com/compute/docs/gpus/add-gpus#create-gpu-instance-api

We'd need to expose this in the machineInfra API and plumb with gcp API through:
[code]
https://raw.githubusercontent.com/googleapis/google-api-go-client/

[2020-04-09 13:05] detiber commented on #267
/lifecycle frozen

[2020-04-14 16:12] detiber opened #293 "Root Disk Image lookup should use a filter on image name rather than family when Version is specified but Spec.Image and Spec.ImageFamily are not"
/kind bug

**What steps did you take and what happened:**
When only GCPMachine.Spec.Version is defined (without also defining Spec.Image or Spec.ImageFamily), the root disk lookup defaults to using image family, which groups all images by kubernetes major and minor versions (ignoring patch version), instead we should fall back to using filtering on the name to also include the patch version as wel

[2020-04-14 19:11] detiber commented on #278
/remove-lifecycle stale

[2020-04-15 17:32] detiber commented on #271
/lifecycle frozen

[2020-05-13 20:27] CecileRobertMichon opened #297 "Implement GCPMachinePool using MIGs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Implement GCPMachinePool using [Managed Instance Groups](https://cloud.google.com/compute/docs/instance-groups/). The GCPMachinePool implementation should follow the same package / group structure as CAPI and be added to the exp package, the experimental feature package. The feature s

[2020-05-19 14:33] detiber commented on #286
/remove-lifecycle stale

[2020-06-11 14:46] detiber commented on #289
/lifecycle frozen

[2020-06-17 13:04] aa250816 opened #302 "Update release to v0.3.0"
/kind feature

**Describe the solution you'd like**
Release an update for compatibility with cluster api v0.3.0 https://cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-07-09 14:43] snehala27 opened #303 "Route controller fails to create route for nodes in multi zone setup"
/kind bug

**What steps did you take and what happened:**
Created a cluster using CAPG by setting the FailureDomain for worker nodes in MachineDeployment.
If the FailureDomain(Zones) are different for the control plane node and the worker node in the same region, route controller fails to create route for the node with error: `instance not found`

**What did you expect to happen:**
Routes should b

[2020-07-10 13:43] snehala27 opened #304 "Failed to create LoadBalancer for the service: No node tags supplied"
/kind bug

**What steps did you take and what happened:**
Deployed the cluster with CAPG. Created a new service of type=LoadBalancer. kube-controller logs show the following error:

`kube-controller-manager E0709 05:13:04.594971       1 gce_loadbalancer.go:156] Failed to EnsureLoadBalancer(test-cluster, monitoring, grafana, a189a46b22156434eaec2438188dcf37, us-central1), err: no node tags supplied

[2020-07-15 16:44] #304 closed

[2020-07-16 21:27] sb1975 commented on #151
I suppose GCP is nowhere..

[2020-07-17 18:25] sb1975 opened #306 "cluster-api-provider-gcp not working"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
git clone https://github.com/kubernetes-sigs/cluster-api.git
make clusterctl
cd cluster-api
cat > clusterctl-settings.json <<EOF
{
  "providers": ["cluster-api","bootstrap-kubeadm","control-plane-kubeadm", "infrastructure-gcp"],
  "provider_repos": ["../cluster-api-provider-gcp"]
}
EOF
c

[2020-07-17 18:36] ncdc commented on #306
You need to create a metadata.yaml locally - see https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html for more details.

[2020-07-17 19:52] sb1975 commented on #306
created the metadata.yaml
$ cat .cluster-api/overrides/infrastructure-gcp/v0.3.0/metadata.yaml
apiVersion: clusterctl.cluster.x-k8s.io/v1alpha3
kind: Metadata
releaseSeries:
- major: 0
  minor: 3
  contract: v1alpha3
- major: 0
  minor: 2
  contract: v1alpha2
esudbat@capi-gcp:~$ clusterctl init --core cluster-api:v0.3.0 --bootstrap kubeadm:v0.3.0 --control-plane kubeadm:v0.3.0 --infrastructure gcp

[2020-07-17 19:54] sb1975 commented on #306
$ kubectl describe pod capg-controller-manager-7ffcdbd9c-sfzcl -n capg-system
Events:
  Type     Reason     Age                 From                               Message
  ----     ------     ----                ----                               -------
  Normal   Scheduled  55m                 default-scheduler                  Successfully assigned capg-system/capg-controller-manager-7ffcdbd9c

[2020-07-30 20:35] colinman opened #311 "Support Application Default Credentials or Workload Identity when running in GCP"
/kind feature

**Describe the solution you'd like**

Exporting service account credentials and storing in K8S secret store introduces an unnecessary secret and potential point of compromise if the cluster API provider is running inside GCP.

In this case, the provider should first look for Application Default Credentials or use workload identity before requiring service account credential keys.

[2020-08-11 20:40] CecileRobertMichon commented on #297
/remove-lifecycle stale

[2020-08-12 21:08] detiber commented on #278
/lifecycle frozen

[2020-08-12 21:11] detiber commented on #293
/lifecycle frozen

[2020-08-18 13:26] sandhyashrek commented on #306
Same issue here.. Any fixes available?

[2020-08-30 17:31] quentinalbertone opened #315 "Error capg-controller-manager"
/kind bug

**What steps did you take and what happened:**
Hi, I would like to use the cluster api provider of GCP but I got some issues with the `capg-controller-manager`.
In order to deploy the gcp-provider I used :
[code]

And then I can see these logs:

* capg-system/capg-controller-manager the manager container has this issue:
[code]
and
* capi-webhook-system/capg-controller-manager the manage

[2020-09-30 15:03] bdurrow opened #316 "Allow for local-ssd"
[Also submitted in openshift/cluster-api-provider-gcp](https://github.com/openshift/cluster-api-provider-gcp/issues/124)
/kind feature

Given that in GCP local-ssds are very performant and with a 3 year commitment less expensive than pd-standard (I do not believe you can get commitment discounts on other storage) I would like to use them for my /var (and use a small pd-standard boot disk).  The fa

[2020-09-30 18:49] cloudcafetech commented on #306
I am getting following error ..

[code]

[2020-09-30 19:09] cloudcafetech commented on #315
same in my side ...

https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/306#issuecomment-701576461

[2020-10-02 14:35] rsmitty commented on #286
/remove-lifecycle rotten

[2020-10-20 16:34] detiber commented on #302
/lifecycle frozen

[2020-10-23 14:03] #303 closed

[2020-11-12 17:30] #271 closed

[2020-11-25 13:58] cpanato opened #335 "Add E2E tests using the cluster-api test framework"
/kind feature

**Describe the solution you'd like**
Add e2e tests using the cluster-api framework to make this provider similar to the others and easy to maintain the tests

the follow up of this is to add the conformance tests as well

/assign

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-11-29 13:01] bygui86 opened #336 "Usage documentation"
Hi guys,

I started right couple of days ago with ClusterAPI and I like it a lot.

I work on GCP so I was trying to introduce ClusterAPI into my company, but I don't find any documentation about how to use properly ClusterAPI with GCP.

I found this for AWS: https://cluster-api-aws.sigs.k8s.io/

Is there anything similar for GCP?

**Describe the solution you'd like**

It would be very useful to ha

[2020-12-01 15:10] #335 closed

[2020-12-01 20:00] detiber commented on #336
/help

[2020-12-01 20:01] detiber commented on #311
/lifecycle frozen
/help

[2020-12-01 20:01] detiber commented on #297
/lifecycle frozen
/help

[2020-12-01 20:11] detiber commented on #316
/help

[2020-12-01 20:11] detiber commented on #293
/help

[2020-12-02 16:10] #286 closed

[2020-12-03 21:49] asatish commented on #152
I found a way to mark images for public consumption and how to use public images

To mark an image for public consumption:
https://cloud.google.com/compute/docs/images/managing-access-custom-images#share-images-publicly

gcloud compute images add-iam-policy-binding image-name \
    --member='allAuthenticatedUsers' \
    --role='roles/compute.imageUser'

To use an image which is public:
https://clo

[2020-12-04 15:37] detiber commented on #302
This has now been done
/close

[2020-12-04 15:37] #302 closed

[2020-12-09 06:40] dilyevsky commented on #316
@detiber I would like to claim this if nobody else has already.

[2020-12-09 08:24] cpanato commented on #316
@dilyevsky go for it! 🎉

/assign @dilyevsky
/remove-help

[2021-01-04 16:59] snehala27 opened #345 "🐛 Move ahead with cluster deletion if current resource in sequence is not found"
/kind bug

**What steps did you take and what happened:**
Create a GCP cluster.
In case of unusual cluster deletion(like partial cluster creation took place or partial deletion happened in the previous run), the resources get deleted in a sequence. If the resource to be deleted in sequence is not found, then the deletion process gets stuck with error specifying resource not found.

**What did you

[2021-01-04 16:59] snehala27 commented on #345
/assign

[2021-01-12 16:34] dlipovetsky commented on #306
This isn't the best place to ask for support. Please reach out on Kubernetes slack (#cluster-api)

/close

[2021-01-12 16:34] #306 closed

[2021-02-05 13:44] cpanato opened #348 "Create v1alpha4 API types"
Tracking issue to generate v1alpha4 Cluster API types.

- change imports to use v1alpha4
- set storage version to v1alpha4 types
- remove old v1alpha2 types and conversion webhooks if necessary.

For reference: https://github.com/kubernetes-sigs/cluster-api/issues/3428

/kind api-change
/area provider/gcp

/assign

[2021-02-27 12:12] #316 closed

[2021-02-27 20:42] #315 closed

[2021-03-08 15:24] detiber commented on #336
/lifecycle frozen

[2021-03-09 09:19] cpanato opened #353 "Update Makefile to deploy CAPI to use version 0.4.0 when releases"
In this PR https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/352 we are using a non-released build to deploy CAPI with v1alpha4 support.

Once the CAPI v0.4.0 is released we should update the makefile to download the release from the official source.

[2021-04-07 16:57] #348 closed

[2021-04-28 23:15] dims opened #359 "capg-conformance-v1alpha4 is broken because of a kubeadm change in k8s master"
See test grid here:
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-gcp#capg-conformance-v1alpha4

log snippet:
[code]

Why? see `// v1.22: v1beta2 read-only, writes only v1beta3 config. Errors if the user tries to use v1beta1 and older` here:
https://github.com/kubernetes/kubernetes/blame/6c3654db1b30020150ec3ff51926454be9675519/cmd/kubeadm/app/util/config/common.go#L64

Which

[2021-04-28 23:20] dims commented on #359
cc @vincepri @fabriziopandini

[2021-04-29 05:48] cpanato commented on #359
this is something we need to fix on CAPI? @dims @fabriziopandini @vincepri

[2021-04-29 10:22] fabriziopandini commented on #359
@cpanato  this is already fixed in latest CAPI v0.3 releases and on the main branch.
Now CABPK will use the kubeadm API for the selected Kubernetes version (* v1beta3 still in flight, but it would give you v1beta2 which is still supported)

[2021-04-29 10:28] cpanato commented on #359
@fabriziopandini thanks, I will work to update the dependencies

[2021-04-29 10:28] cpanato commented on #359
/assign

[2021-04-29 10:53] dims commented on #359
@cpanato thanks a ton!

[2021-04-29 21:05] dims opened #361 "avoid pull-cluster-api-provider-gcp-make-conformance from building images for every run"
search for `init_image` in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-gcp/360/pull-cluster-api-provider-gcp-make-conformance/1387800361498054656/build-log.txt

to see that this job `kubernetes-sigs_cluster-api-provider-gcp` has to build an image for every run as it is executed in a different gcp project every time. this adds to the time take

[2021-04-29 21:06] dims commented on #361
cc @cpanato

[2021-04-30 07:26] cpanato commented on #361
agree, this is in my backlog for some time, but I guess it is time to implement it :)

/assign

[2021-04-30 11:33] dims commented on #359
/assign @detiber @CecileRobertMichon @vincepri

[2021-05-05 06:42] cpanato commented on #345
/remove-lifecycle rotten

[2021-05-18 15:30] cpanato commented on #152
i'm doing some work on this
- https://github.com/kubernetes/test-infra/pull/22041
- https://github.com/kubernetes-sigs/image-builder/pull/445

/assign

[2021-05-19 14:30] prksu commented on #311
/assign

[2021-05-25 09:08] sbueringer opened #368 "Fix golang-ci lint configuration exclude configuration"
/kind bug

The exclude configuration `Using the variable on range scope (tc)|(rt)|(tt)|(test)|(testcase)|(testCase) in function literal` in `.golang.ci.yml` matches too many findings.

Every finding which contains "rt", "tt", "test", .. is excluded.

For more context:
* [Fix PR in cluster-api](https://github.com/kubernetes-sigs/cluster-api/pull/4657)
* [Follow-up PR for migration doc](https://gith

[2021-06-07 10:06] cpanato commented on #353
/remove-lifecycle stale

[2021-06-10 09:27] cpanato commented on #353
capi v0.4.0-beta.0 is out we can close this

/close

[2021-06-10 09:27] #353 closed

[2021-06-10 10:09] cpanato opened #377 "Branch rename master -> main"
**Describe the solution you'd like**
Rename the branch from `master` to `main`

/assign

[2021-06-10 10:10] cpanato commented on #377
/remove-kind feature
/kind cleanup

[2021-06-10 11:48] cpanato commented on #377
rename done

[2021-06-10 12:05] #377 closed

[2021-06-19 15:47] cpanato commented on #361
we are building the image, but there are some permission issues, as soon this gets fixed we can get back to this issue

[2021-06-19 15:48] cpanato commented on #345
fixed here: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/347

/close

[2021-06-19 15:48] #345 closed

[2021-06-19 22:40] #368 closed

[2021-06-23 11:27] prksu opened #391 "Unable to create cluster with network custom mode"
/kind bug

**What steps did you take and what happened:**
When creating a cluster with network in custom mode. (autoCreateSubnetworks: false) eg:
[code]
the controller unable to create the network and give an error:

[code]

[code]

**What did you expect to happen:**
controller should be able to create network in custom mode

**Anything else you would like to add:**
[Miscellaneous information that

[2021-06-23 11:39] prksu opened #392 "Allow create GCPMachine instance with alias IP"
/kind feature

**Describe the solution you'd like**
As a user, I'd like to attach a secondary IP range from the GCPCluster subnet into the GCPMachine instance network interface as `AliasIpRanges`. The purpose of using ip alias is to support [vpc-native](https://cloud.google.com/kubernetes-engine/docs/how-to/alias-ips) cluster which requires node has IP alias for pod CIDR

**Anything else you would

[2021-07-13 17:57] shivi28 opened #397 "Add GCPClusterTemplate type"
/kind feature

**Describe the solution you'd like:**
Add a new CRD named GCPClusterTemplate. This is needed for ClusterClass.
In the short term this type will not be used outside of ClusterClass.

[2021-07-13 17:57] shivi28 commented on #397
/assign

[2021-07-14 17:10] prksu commented on #293
/assign

[2021-07-21 20:06] dilyevsky commented on #289
I would like to claim that feature - need gpu support for GCP provider in our clusters.

[2021-07-22 11:19] cpanato commented on #289
go for it @dilyevsky 🎉

[2021-07-27 06:30] shivi28 commented on #397
/lifecycle-active

[2021-07-27 06:41] shivi28 commented on #397
/lifecycle active

[2021-07-27 07:44] #397 closed

[2021-08-18 16:21] sayantani11 commented on #113
I would like to work on it. But can I get a bit of an insight to the issue?

[2021-08-18 16:26] sayantani11 commented on #113
Also I would really like to enhance the docs if required

[2021-08-20 06:27] cpanato commented on #113
@sayantani11 the idea here is to add that matrix above with the CAPG versions and the K8s support

similar we have for CAPZ: https://github.com/kubernetes-sigs/cluster-api-provider-azure#support-policy

[2021-08-20 17:36] amino19 commented on #112
@chuckha : Is this issue still gonna be unfrozen? BTW, I can't able to access the docs. shared above! :slightly_smiling_face:
Anyway, wanna take this _(if allow)_

[2021-08-21 13:13] cpanato commented on #112
We can maybe improve the docs, but the release documentation exist and you can find here: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/docs/releasing.md

[2021-08-23 21:36] sayantani11 commented on #151
@vincepri If the issue is open I will be more than happy to take this.

[2021-09-16 19:25] sayantani11 opened #409 "README.md update"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**README Update**
- [x] Add a ‘Quick Start’ section to the `./README.md` , and link the `./docs/prerequisites.md` to that particular section
- [x] Remove Community, discussion, contribution, and support section from the `./README.md`. (A separate section for each should be made)

[2021-09-16 19:25] sayantani11 commented on #409
/assign

[2021-09-16 19:28] sayantani11 commented on #113
Related to issue #409

[2021-09-16 21:21] sayantani11 commented on #409
/reopen

[2021-09-17 16:03] cpanato commented on #361
this is done! :)
/close

[2021-09-17 16:04] #361 closed

[2021-09-18 00:12] sayantani11 commented on #151
@vincepri @randomvariable I guess the issue is resolved went through the Quick Start section of the book

[2021-09-19 23:07] sayantani11 opened #415 "📖 Move all docs to the book"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Move all docs to the book to have one central place for documentation.
It will be a great enhancement to the project, as most of the CAP* providers have this. Also makes it easier for contributors to navigate

**Anything else you would like to add:**
[Miscellaneous information th

[2021-09-19 23:08] sayantani11 commented on #415
/priority important-soon

[2021-09-19 23:10] sayantani11 commented on #415
/assign

[2021-09-20 19:48] sayantani11 commented on #409
Closing in response of  #410 #411 #412 #413 and #414
And considering #416 for #113
/close

[2021-09-20 19:48] #409 closed

[2021-09-21 11:40] #151 closed

[2021-09-21 11:59] cpanato commented on #392
/remove-lifecycle stale

[2021-09-21 11:59] cpanato commented on #391
/remove-lifecycle stale

[2021-09-21 15:36] sayantani11 commented on #415
/priority backlog

[2021-09-21 15:37] sayantani11 commented on #415
/remove  priority important-soon

[2021-09-21 15:40] sayantani11 commented on #415
/remove-priority important-soon

[2021-09-22 06:32] sayantani11 opened #419 "Custom V-Net addition to docs"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Adding a Custom Virtual Network documentation GCP

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Refer to https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/docs/book/src/topics/custom-vnet.md
for

[2021-09-22 06:32] sayantani11 commented on #419
/help wanted

[2021-09-22 06:34] sayantani11 commented on #419
/good-first-issue

[2021-09-22 06:47] daemon1024 commented on #419
/assign

[2021-09-22 07:14] #113 closed

[2021-09-22 14:00] #415 closed

[2021-09-24 15:02] jayesh-srivastava opened #424 "Multiple links in `README.md` are broken."
/kind bug
/kind documentation

**What steps did you take and what happened:**
Multiple links are broken in the `README.md` file. You'll have to check one by one and attach the link of the mentioned file wherever necessary.

**What did you expect to happen:**
The links should direct to the mentioned page.

[2021-09-24 15:02] jayesh-srivastava commented on #424
/assign

[2021-09-27 05:35] sayantani11 opened #428 "🏃extend ci-conformance.sh testing capability"
/kind feature

Extending ci-conformance.sh testing capability to allow other tests to be run on a CAPZ cluster - a temporary solution until kubernetes-sigs/cluster-api#2826 is fixed.

**Describe the solution you'd like**

[A clear and concise description of what you want to happen.]
`ci-entrypoint.sh` will be the new entrypoint for all E2E tests. It can accept k/k master branch or release branches

[2021-09-27 05:35] sayantani11 commented on #428
/good-first-issue

[2021-09-27 05:40] MadhavJivrajani commented on #428
@sayantani11 please ensure that the issue contains sufficient context and information about what exactly needs to be done so that a new contributor can pick it up with almost 0 barrier to entry. As mentioned by the bot, the guidelines for good-first-issues can be found [here](https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md#good-first-issue).

/remove-good-firs

[2021-09-27 05:59] sayantani11 commented on #428
/good-first-issue

[2021-09-27 06:15] Darshnadas commented on #428
Can I take this issue?

[2021-09-27 06:42] MadhavJivrajani commented on #428
/assign @Darshnadas

[2021-09-27 06:47] sayantani11 commented on #428
@Darshnadas You will see a PR reference we are looking for something similar, but as of now our main focus will be the `ci-entrypoint.sh` file. I have attached the reference to the file with latest update. This script is present in CAPZ and we are wanting the same for CAPG. For the variables in the script, you might try having a look at https://github.com/kubernetes-sigs/cluster-api-provider-gcp/b

[2021-09-27 07:03] PranshuSrivastava commented on #428
Can i also work on this issue?

[2021-09-27 07:03] PranshuSrivastava commented on #428
/assign

[2021-09-27 09:10] Darshnadas commented on #428
@sayantani11 Sure, a thread starting in a slack sounds good

[2021-09-27 14:35] jayesh-srivastava commented on #424
/unassign

[2021-09-27 14:40] jayesh-srivastava commented on #424
/good-first-issue

[2021-09-27 14:43] harshmathurx commented on #424
I'd like to give it a try

[2021-09-27 14:45] jayesh-srivastava commented on #424
/assign @harshmathurx

[2021-09-27 18:59] sayantani11 commented on #428
@PranshuSrivastava as you can see @Darshnadas has claimed the issue, so I think one person will be okay for the PR. You can still browse through the project and see if there are other changes that you could introduce for enhancement of the project. Hope you understand🙂
/unassign @PranshuSrivastava

[2021-09-28 11:16] PranshuSrivastava commented on #428
@sayantani11 Sure, no problem!

[2021-09-29 21:54] sayantani11 commented on #392
@prksu Any updates on this?

[2021-09-30 01:00] sayantani11 opened #435 "Support policy requires change"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In the README.md a small correction is required in the support policy section.
`GCP v0.2.x` supports K8s version 1.15 **and** 1.16
`GCP v0.3.x` supports K8s version 1.16 **to** 1.21
`GCP v0.4.x` supports k8s version 1.18  **to** 1.22

**Anything else you would like to add:**
[Mis

[2021-09-30 01:02] sayantani11 commented on #435
@cpanato After contemplating I realized I made this mistake while updating the support policy, so I am making this issue. Marking it as `good-first-issue` for encouraging new contribution.

[2021-09-30 01:02] sayantani11 commented on #435
/good-first-issue

[2021-09-30 01:31] sayantani11 opened #436 "Specify data disks to be provisioned and attached to VMs provisioned"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
A document describing how to specify data disks to be provisioned and attached to VMs provisioned in GCP.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
https://cloud.google.com/compute/docs/disks/add-persistent-disk

[2021-09-30 01:31] sayantani11 commented on #436
/assign

[2021-09-30 03:16] PurneswarPrasad commented on #435
/assign

[2021-09-30 05:38] #424 closed

[2021-09-30 06:54] #435 closed

[2021-09-30 08:23] nagygergo opened #438 "Question: v4alpha1 support"
Hi,

Is there a plan to release a v4alpha1 supported version of the gcp provider? It seems that most of the things are in place for a proper release.

The [0.4 milestone](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/milestone/6) seems to be closed:

Or is there an other place where the GCP provider gets released, other than the [Github Releases](https://github.com/kubernetes-sigs/cl

[2021-09-30 08:38] cpanato commented on #438
@nagygergo thanks for your question

I'm working to make a v1alpha4 end this week beginning next :)

[2021-10-01 18:05] sayantani11 opened #439 "Replace Windows with Windows + WSL2"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently windows isn't supported by the project at this moment. But for a windows user the project can be set up in a WSL2 system. This will help the new contributors better about setting up of the project.

**Anything else you would like to add:**
[Miscellaneous information tha

[2021-10-01 18:05] sayantani11 commented on #439
/good-first-issue

[2021-10-01 18:18] BLasan commented on #439
/assign

[2021-10-02 07:23] jayesh-srivastava commented on #297
Hey, would like to work on this. Can I assign it myself?

[2021-10-03 02:26] #436 closed

[2021-10-03 04:21] jayesh-srivastava commented on #297
/assign

[2021-10-07 07:31] itspngu opened #444 "Allow creation of zonal clusters in addition to (multi-zone) regional ones"
/kind feature

**Describe the solution you'd like**
Currently, the GCPCluster resource accepts a `region` input, allowing users to specify the GCP region to provision the control plane and nodes in. Using the following configuration, I get 1x control plane and 3x worker nodes in the `europe-west3-a` zone:

[code]

[code]

I would like to, in some shape or form, be able to specify which zones are u

[2021-10-10 19:32] sayantani11 opened #449 "Documentation about jobs that run during e2e test cases."
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Documentation about each job in e2e test cases. A short description about what each job does.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-10-10 19:33] sayantani11 commented on #449
/assign

[2021-10-11 04:26] sayantani11 opened #451 "EPIC: Production level documentation"
/kind documentation

**Describe the solution you'd like**
Currently our project requires a lot of addition to the docs. I have made a list of few topics that we could add for better understanding of the project.

- [ ] Identity and Access Management (IAM) : Administer and authorize who can take  action on resources
https://cloud.google.com/iam/docs/overview
https://cloud.google.com/resource-manage

[2021-10-11 04:30] sayantani11 commented on #451
/remove kind-feature

[2021-10-12 12:32] budhirajamadhav commented on #451
Hi @sayantani11, Can I help with this?

[2021-10-20 12:22] cpanato commented on #438
v1alpha4 is already released https://github.com/kubernetes-sigs/cluster-api-provider-gcp/releases/tag/v0.4.0

[2021-10-20 12:24] sayantani11 opened #454 "Add Kubernetes Developer doc to the project"
/kind documentation

**Describe the solution you'd like**

Planning to add something similar to this: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/docs/book/src/developers/kubernetes-developers.md to CAPG.

**Anything else you would like to add:**
https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/432 is also related to the same.

[2021-10-20 12:27] sayantani11 commented on #454
/assign

[2021-10-20 19:18] sayantani11 commented on #444
@itspngu Can you make a documentation for this? I think that will be a great addition to our documentation. As you were the one who did all the research and findings, I feel no one other than you will be able to provide a better explanation.  Feel free to add a doc under topics

[2021-11-02 17:45] daemon1024 commented on #419
@sayantani11 Apologies for the delay and missing providing updates here.

So I went through the shared resources and the spec provided here https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/config/crd/bases/infrastructure.cluster.x-k8s.io_gcpclusters.yaml

I came with a rough configuration...

---
    Existing subnet

[code]

    New subnet, provide cidrblock

[code]

    Auto

[2021-11-03 03:22] sayantani11 commented on #419
@daemon1024 You can try creating a gcp account and I guess you get a 250$ credit in the start that you can use or you can try using qwicklabs I believe

[2021-11-04 07:30] sayantani11 opened #459 "Update Kubernetes to latest version"
/kind documentation

**Describe the solution you'd like**
As we know the last release version of Kubernetes happens to be 1.22, but the project is still set up based on version 1.20.9. So we need to update it in the files:
`hack/ci/e2e-conformance.sh`
`scripts/ci-e2e.sh`

[code]

[2021-11-04 07:31] sayantani11 commented on #459
/good-first-issue

[2021-11-04 07:31] #459 closed

[2021-11-04 07:32] sayantani11 opened #460 "Update kubernetes to latest version"
/kind feature

**Describe the solution you'd like**
As we know the last release version of Kubernetes happens to be 1.22, but the project is still set up based on version 1.20.9. So we need to update it in the files:
`hack/ci/e2e-conformance.sh`
`scripts/ci-e2e.sh`

[code]

[2021-11-04 07:32] sayantani11 commented on #460
/good-first-issue
/help

[2021-11-04 07:36] robotjellyzone commented on #460
/assign

[2021-11-04 07:37] robotjellyzone commented on #460
Looking out for a similar good first issue, thanks for posting!!

[2021-11-04 08:56] cpanato commented on #460
it is not only updating this the capg project. we also need to build those images

made a PR to update the images to the latest https://github.com/kubernetes-sigs/image-builder/pull/733 and after that, we can check if the images are available and then update the jobs here and in the test-infra repo

[2021-11-04 09:09] robotjellyzone commented on #460
oh ok @cpanato  actually I don't have much idea about building images and thats why took this **good first issue** but if you can help me to learn about it then I can definitely try to build those images as well :)

[2021-11-05 05:09] sayantani11 commented on #460
@cpanato Can I make the PR in test-infra?

[2021-11-05 06:02] sayantani11 commented on #454
/priority awaiting-more-evidence

[2021-11-05 06:10] sayantani11 commented on #419
@daemon1024 And yes I think we need to specify region in the subnet as well

[2021-11-05 06:16] sayantani11 opened #462 "Create a management cluster without using clusterctl"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Our project allows us to create a management cluster following simple steps, and without the use of clusterctl, documenting that in the repo will be useful for future contributors and users.

**Anything else you would like to add:**
[Miscellaneous information that will assist in

[2021-11-05 06:17] sayantani11 commented on #462
/assign
cc @dims @cpanato

[2021-11-05 07:39] cpanato commented on #460
@sayantani11 sure, need to update the conformance test to match the k8s version that we will use https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml#L193

but also need to wait for https://prow.k8s.io/?job=periodic-image-builder-gcp-all-nightly for the next run today to build the new images and then upda

[2021-11-11 15:25] SamuelStuchly commented on #289
@dilyevsky Any progress on this feature ?  If not I could take it, since we have already implemented this for Openshift at https://github.com/openshift/cluster-api-provider-gcp/pull/172

[2021-11-11 21:37] sayantani11 commented on #419
@daemon1024 or you can try reaching me on slack... I will try testing it... But will need some time with that😅

[2021-12-07 22:53] k8s-triage-robot opened #470 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:26] justaugustus commented on #470
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:26] #470 closed

[2021-12-08 14:06] sayantani11 commented on #460
/close

[2021-12-08 14:06] #460 closed

[2021-12-08 22:54] k8s-triage-robot opened #473 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 03:02] justaugustus commented on #473
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:02] #473 closed

[2021-12-13 16:58] #462 closed

[2021-12-15 13:42] sayantani11 opened #478 "ipv6 support"
/kind feature

Recently, I was informed that CAPG, doesn't have ipv6 support. So it will be a great enhancement if we could add this feature. Although I haven't had the time to look into the issue, I will have to dig in more in order to understand about it. Any sort of leads and help will be helpful.

[2021-12-15 14:08] sayantani11 commented on #289
@SamuelStuchly You can do the necessary changes.... And that will be the best, and then I can proceed with the documentation for gpu-support😄

[2021-12-15 14:10] sayantani11 commented on #478
After this we can proceed with #451

[2021-12-27 11:48] Darshnadas commented on #428
/remove-lifecycle stale

[2022-01-10 15:50] sayantani11 opened #480 "Make cert manager install in makefile more resilient"
/kind feature

Add cert-manager installation script, that builds on the tiltfile extensions and adds the test resource to the make create-management-cluster flow to retry until cert-manager is ready and avoid flakes when running ci-entrypoint.sh locally.
This feature will be something similar to the one implemented in Azure (https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1432)

[2022-01-11 18:20] sayantani11 commented on #478
/priority important-soon

[2022-01-13 17:55] sayantani11 opened #482 "Add script to run shellcheck on bash scripts in the repository"
/kind feature

**Describe the solution you'd like**
A lot of CI jobs depend on our bash scripts, we should add shellcheck as part of presubmit to avoid small mistakes.

- Add a bash script to run shellcheck on all the scripts in the repository. Derived from [Kubernetes Shellcheck](https://github.com/kubernetes/kubernetes/blob/master/hack/verify-shellcheck.sh)
- Add `verify-shellcheck` make target

[2022-01-13 17:56] sayantani11 commented on #482
/assign

[2022-01-15 18:54] mehabhalodiya commented on #451
@sayantani11 I would like to give it a try. Can you help me to get started?

[2022-01-16 14:06] sayantani11 commented on #451
@mehabhalodiya Yes definitely, you can pick any one of the topics you would like to work upon & try going through the links attached to get some idea about the topic. After that you can make an issue with a readme file on the following topic related to it's use on CAPG, and add the cluster-template(if any) in the template folder. For a better understanding of how it's done, you can look at the doc

[2022-01-16 15:05] sayantani11 opened #484 "Align kubectl install and CI scripts to use local bin folder"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
There are two different ways the repository installs tools. It would be better to align to install all tools via `makefile` into a `hack/tools/bin` and have all scripts use those tools.

**What did you expect to happen:**
`make` and CI scripts all use the same version of tooling from loc

[2022-01-17 14:59] #482 closed

[2022-01-18 12:07] #480 closed

[2022-01-18 12:27] sayantani11 commented on #484
/assign

[2022-01-19 05:20] sayantani11 opened #485 "Update the support policy according to new release"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As we have seen, we have made some changes for our v1beta1 release, and those changes should reflect on our support policy section in our `Readme.md`
The table needs to be updated for better understanding of the compatibility of the release and that of K8s.

|  | Cluster API `v1a

[2022-01-19 05:21] sayantani11 commented on #485
/good-first-issue

[2022-01-19 05:25] ShivamTyagi12345 commented on #485
Would like to help
/assign
:)

[2022-01-20 18:26] jayesh-srivastava opened #487 "Typo in README.md"
There's a small typo at `line 65` in the `README.md` file with the correct word being `environment`. Also at `line 68`, `this` should be replaced with `these`. Contributors should also look for other possible typos and try to correct them as well.

[2022-01-20 18:26] jayesh-srivastava commented on #487
/good-first-issue

[2022-01-20 18:41] wondersumanth commented on #487
/assign

[2022-01-20 19:09] jayesh-srivastava commented on #487
@Kishy1224 Really sorry but @wondersumanth assigned it first and this issue doesn't require two contributors. Maybe you can try next time because there are always new good-first-issues coming up. Hope you understand. Un-assigning you now.

[2022-01-20 19:10] jayesh-srivastava commented on #487
/unassign @Kishy1224

[2022-01-21 04:58] KelvinEuclides commented on #487
/assign

[2022-01-21 05:16] wondersumanth commented on #487
@KelvinEuclides I m looking into this. could you please unassign yourself

[2022-01-21 05:17] jayesh-srivastava commented on #487
@KelvinEuclides Really sorry but @wondersumanth assigned it first and this issue doesn't require two contributors. Maybe you can try next time because there are always new good-first-issues coming up. Hope you understand. Un-assigning you now.

[2022-01-21 05:17] jayesh-srivastava commented on #487
/unassign @KelvinEuclides

[2022-01-21 05:23] KelvinEuclides commented on #487
Sorry

[2022-01-22 15:31] #487 closed

[2022-01-22 18:07] sayantani11 opened #490 "Sorting the CAPG documentation into a book"
/kind feature

There are still a few improvements needed in CAPG documentation, but at this moment we can still work on the book. This will be something similar to: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/858
It will be better for new contributors or will provide easier usage to the users, apart from this it will also help in better management of docs.

We can have the C

[2022-01-22 18:08] sayantani11 commented on #490
@cpanato @dims

[2022-01-22 18:14] sayantani11 commented on #490
Requested in #336 as well
/priority important-soon

[2022-01-23 08:50] itspngu commented on #444
/remove-lifecycle stale

There's a pending PR to resolve this issue: #455

It also raised questions on my end https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/444#issuecomment-950327361

[2022-01-25 09:00] sharmaansh21 commented on #391
/assign

[2022-01-25 17:50] sayantani11 opened #491 "Replace hack/ensure-*.sh scripts with `go install`"
/kind feature

**Describe the solution you'd like**
In the `./hack` directory are scripts named `ensure-<something>.sh.` Some of these install Go-based tools, and they could perhaps be replaced entirely by invocations of `go install`.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-01-28 18:07] jayesh-srivastava opened #492 "`go install` should be used instead of `go get` to install binaries"
From Go 1.17, installing executables with `go get` is deprecated. `go install` may be used instead.
In Go 1.18, `go get` will no longer build packages; it will only be used to add, update, or remove dependencies in go.mod.

Ref. - (https://go.dev/doc/go-get-install-deprecation)

We should stop using `go get` to install hack/tools and instead rely on `go install` here: (https://github.com/kubernete

[2022-01-30 13:51] jayesh-srivastava opened #493 "Use custom service accounts instead of default for controllers"
/kind feature

A dedicated service account for each CAPG controller is more likely to be used by an operator instead of the default.

See:-
- [kubernetes-sigs/cluster-api/issues/4015](https://github.com/kubernetes-sigs/cluster-api/issues/4015)
- [kubernetes-sigs/cluster-api-provider-azure/issues/1206](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1206)

[2022-01-30 13:52] jayesh-srivastava commented on #493
/assign

[2022-01-31 12:19] mehabhalodiya commented on #493
It's because the default service account has no access to the API server. It hasn't been granted specific access rights. Correct?

[2022-02-01 09:35] jayesh-srivastava commented on #493
@mehabhalodiya Not exactly sure but I think so yes.

[2022-02-01 18:02] jayesh-srivastava opened #496 "golangci-lint should be in parity with CAPI"
/kind feature

**Describe the solution you'd like**
There are some linters that are present in CAPI but not in CAPG. We could add those missing linters in CAPG too to make the contributor experience more similar.

**Anything else you would like to add:**
Missing linters in CAPG:
- containedctx
- gci
- noctx
- predeclared
- thelper
- unused

[2022-02-01 18:02] jayesh-srivastava commented on #496
/assign

[2022-02-01 19:01] sayantani11 opened #498 "Use controller-runtime setup-envtest instead of fetch_ext_bins.sh and generate junit report in ci-test.sh"
/kind feature

**Describe the solution you'd like**
 there is a tool by controller-runtime which can be used to setup the controller-runtime envtest binaries (https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest).
It's already used in core CAPI: https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L437-L441

It will be good if we add this to CAPG  to m

[2022-02-01 19:01] sayantani11 commented on #498
/assign

[2022-02-01 19:01] sayantani11 commented on #485
@ShivamTyagi12345 Updates?

[2022-02-02 08:34] jayesh-srivastava commented on #496
If this makes sense, can we have one PR per linter?
cc @cpanato @dims

[2022-02-02 09:24] cpanato commented on #496
@jayesh-srivastava one pr for all is enough

[2022-02-04 09:31] jayesh-srivastava opened #505 "Link-check / lint_docs test failing because of a broken link"
The README.md file contains a broken link [https://discuss.kubernetes.io/c/contributors/cluster-api](https://discuss.kubernetes.io/c/contributors/cluster-api) at `line 129` which is referencing to Kubernetes discuss page at `line 81`.

I don't see this particular link in other providers so it's better to remove it(both these lines) as because of it, the `Link-check/link_docs` test is failing.

[2022-02-04 09:32] jayesh-srivastava commented on #505
/good-first-issue

[2022-02-04 09:37] Aayush987 commented on #505
Hey plz assign me .I would like to help

[2022-02-04 09:38] Aayush987 commented on #505
/assign

[2022-02-05 01:29] ShivamTyagi12345 commented on #485
Will make my PR by this Sunday:)

[2022-02-06 10:26] mehabhalodiya commented on #492
/assign

[2022-02-06 10:40] #484 closed

[2022-02-06 14:51] Anubhavdevv commented on #505
I would also like to work on this issue could you assign this issue to me if it is not solved !

[2022-02-06 15:34] Anubhavdevv opened #509 "Improvement in Readme"
/kind feature

**Describe the solution you'd like**

[Readme is not looking good Pictures in starting are not properly aligned there is no space in between them and there must be heading at the top before image which describe the repository about.]

**Anything else you would like to add:**

[In some places there is not proper alignment and I can improve that]

**I would like to work on this issue

[2022-02-07 03:56] mehabhalodiya commented on #491
@sayantani11 I would like to work on this. May I know what changes need to be done in the scripts named `ensure-<something>.sh`?

[2022-02-07 04:18] mehabhalodiya commented on #428
@sayantani I would like to work on this if nobody else is doing so.

[2022-02-07 04:31] sayantani11 opened #510 "Verify targets should be made in parity with CAPI"
/kind bug

**What steps did you take and what happened:**
Did a comparison of verify targets used in core capi vs capg found out that couple of verify targets are missing in capg. If it makes sense, we can add those to CAPG in order to make the contributor experience more similar. This should also help improve the developer experience.
The following section has the comparison matrix.

Missing targ

[2022-02-07 04:33] sayantani11 commented on #510
cc @cpanato
/assign

[2022-02-07 04:39] sayantani11 commented on #510
Have previously added the shellcheck script so we have done one part

[2022-02-07 04:40] mehabhalodiya commented on #428
/assign

[2022-02-07 04:51] sayantani11 commented on #428
@mehabhalodiya There's a PR but guess that needs improvement, you can still work on it

[2022-02-07 05:05] mehabhalodiya commented on #428
@Darshnadas I see you are working on this. Let me know if you wouldn't, I can continue 🙂

[2022-02-07 08:25] cpanato commented on #510
sounds good

[2022-02-07 12:09] #492 closed

[2022-02-07 16:43] sayantani11 opened #511 "Upgrade the versions of tools in CAPG"
/kind feature

**Describe the solution you'd like**

CAPG still uses older versions of controller-runtime, K8s-client, controller-tools and Kustomize. It will be better if we can upgrade it to the latest version, to avoid any future inconvenience, and to be in parity with CAPI & other CAP providers.
- upgrade controller-runtime to 0.11.0
- upgrade K8s-client to 1.23
- upgrade controller-tools 0.8.

[2022-02-07 16:43] sayantani11 commented on #511
/assign @jayesh-srivastava

[2022-02-07 16:54] sayantani11 commented on #491
Yes @mehabhalodiya the changes will be something similar to the one done in this PR: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/497
The goal would be to use the Makefile approach that installs all the tools into the `hack/tools/bin` folder and have the scripts use these tools. For any further issues we can have a thread in slack.

[2022-02-07 18:13] jayesh-srivastava commented on #511
@sayantani11 Will wait for [kubernetes-sigs/cluster-api-provider-gcp/pull/501](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/501) to get merged to ensure no conflicts.

[2022-02-08 09:20] richardcase opened #512 "Support creation of GKE based clusters"
/kind feature

**Describe the solution you'd like**
Based a query from [slack](https://kubernetes.slack.com/archives/C01D1RFEN9G/p1644266939998709) (with follow up comments [here](https://kubernetes.slack.com/archives/C01D1RFEN9G/p1644267204690879), it would be good to support the creation of GKE based clusters. This would bring CAPG inline with CAPA and CAPZ, both of which support creating unmana

[2022-02-08 09:23] richardcase commented on #512
I implemented the EKS control plane in CAPA and with hindsight there are a few things i would do differently if i started again. These learnings may be useful to any implementation of this.

[2022-02-08 10:04] richardcase commented on #512
/assign

[2022-02-10 20:43] Jont828 opened #516 "Version info/LDFLAGS is missing in postsubmit image push job"
/kind bug

**What steps did you take and what happened:**
In the [post-cluster-api-provider-gcp-push-images](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cluster-api-provider-gcp-push-images/1491257626791514112) job, the LDFLAGS are missing in the [build logs](https://storage.googleapis.com/kubernetes-jenkins/logs/post-cluster-api-provider-gcp-push-images/1491257626791514112/artifacts/

[2022-02-11 05:12] sayantani11 commented on #509
/assign @Anubhavdevv
/remove kind-feature
/kind dcoumentation

[2022-02-11 05:12] sayantani11 commented on #509
/kind documentation

[2022-02-11 08:32] cpanato commented on #516
thanks for the issue, i saw that and there is a fix for that already https://github.com/kubernetes/test-infra/pull/25182

/assign

[2022-02-11 11:00] #493 closed

[2022-02-11 21:35] Jont828 commented on #516
Thanks for linking me to that, hopefully that should solve our issues. Would the `--with-git-dir` arg need to be passed in on [cloudbuild.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/cloudbuild.yaml) as well?

[2022-02-12 03:51] mehabhalodiya commented on #491
/assign

[2022-02-12 04:32] mehabhalodiya commented on #485
I have submitted a PR as I don't see any updates 🙂
Thanks!

[2022-02-12 14:19] cpanato commented on #516
no it is not needed

[2022-02-13 13:01] #485 closed

[2022-02-13 13:49] #511 closed

[2022-02-14 20:01] Jont828 commented on #516
It looks like it's fixed on prow!

[2022-02-15 16:55] sayantani11 commented on #289
@SamuelStuchly Any progress with it?

[2022-02-16 08:36] #498 closed

[2022-02-16 17:30] jayesh-srivastava commented on #510
@sayantani11 If it's okay with you, I can make some PRs too. Was working on the verify-conversions so that one and the apidiff too. Maybe you can review them. What say?

[2022-02-16 17:32] sayantani11 commented on #510
@jayesh-srivastava I am doing good!!! I thought of doing the smaller changes in one, and the scripts will be done separately. I will surely reach out for help if required, Thanks!

[2022-02-16 18:03] sayantani11 commented on #510
As for CAPG still hasn't introduced a book, so at this moment we don't need `verify-booklinks`

[2022-02-21 16:06] sayantani11 commented on #509
@Anubhavdevv Any updates on the PR?

[2022-02-21 17:12] Anubhavdevv commented on #509
Yes working on it. I will make the pr by Tomorrow

[2022-02-23 08:07] AverageMarcus opened #540 "Support Flatcar linux for nodes"
/kind feature

**Describe the solution you'd like**
I would like to be able to use Flatcar linux for the control plane and worker nodes with CAPG.

**Anything else you would like to add:**
* Ignition support in CAPI
	* Issue: https://github.com/kubernetes-sigs/cluster-api/issues/3430
	* PR: https://github.com/kubernetes-sigs/cluster-api/pull/4172
* Flatcar feature request in CAPA - https://github.

[2022-02-23 10:04] sayantani11 opened #541 "Add script to run the test coverage"
/kind feature

**Describe the solution you'd like**
Add a script that will run unittest with coverage enabled.
This PR will be something similar to https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/883

[2022-02-23 10:04] sayantani11 commented on #541
/assign

[2022-02-23 10:05] sayantani11 commented on #540
/assign @AverageMarcus

[2022-02-23 10:09] cpanato commented on #540
That sounds like a great addition are you willing to work on this @AverageMarcus?

[2022-02-23 10:19] AverageMarcus commented on #540
It's not something I'm currently able to work on but I wanted to make sure the feature was at least tracked here as Flatcar has a ticket tracking progress across various providers - https://github.com/flatcar-linux/Flatcar/issues/445

We (Giant Swarm) are starting to work with GCP and CAPG so this will eventually be something we'd like to have but not top priority for us currently.

[2022-02-23 10:23] sayantani11 commented on #540
@AverageMarcus I though you meant you want to work on this with `like to be able to`. My bad!
Umm! if you can reference any PR that has made the changes, I can have a look at it.

[2022-02-23 10:23] sayantani11 commented on #540
/unassign @AverageMarcus

[2022-02-23 10:25] AverageMarcus commented on #540
Here's the PR in CAPA adding support - https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2271

[2022-02-24 09:20] #391 closed

[2022-02-28 17:18] jayesh-srivastava commented on #540
/assign

[2022-02-28 18:31] sayantani11 opened #543 "Use quiet mode in docs link checker action"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We should apply the same change as https://github.com/kubernetes-sigs/cluster-api/pull/6167/files to turn on quiet mode in the docs link checker. This will make it easier to read the output and find broken links when it fails.

[2022-02-28 18:31] sayantani11 commented on #543
/good-first-issue

[2022-02-28 18:54] praveenrewar commented on #543
/assign

[2022-03-01 04:58] praveenrewar commented on #543
/assign @sourikghosh

[2022-03-01 09:33] #543 closed

[2022-03-01 18:13] AvineshTripathi commented on #419
Hey @sayantani11 is this still up for grab, maybe I can give a try

[2022-03-01 18:28] sayantani11 commented on #419
Yes!
/assign @AvineshTripathi

[2022-03-01 18:28] sayantani11 commented on #419
/remove lifecycle stale

[2022-03-01 18:30] sayantani11 commented on #419
/remove-lifecycle stale

[2022-03-04 07:47] AvineshTripathi commented on #419
@sayantani11 I did go through the resources but being new to kubernetes I need some time and more resource to get a better idea so I was wondering if you can help me with resources with more basics to clear my fundamentals

[2022-03-10 18:04] jayesh-srivastava opened #550 "`git clone` should be used for getting source"
/kind bug

**What steps did you take and what happened:**
Trying to follow the steps in the [developers guide](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/docs/book/src/developers/development.md#get-the-source) to get the source but facing errors.

[code]

**What did you expect to happen:**
Expected the command to work.

**Anything else you would like to add:**
Using `git

[2022-03-11 09:19] #541 closed

[2022-03-11 12:07] #550 closed

[2022-03-12 04:22] sayantani11 commented on #491
@mehabhalodiya Any progress with it?

[2022-03-12 22:24] sayantani11 opened #555 "Add a README about Flavors"
/kind documentation

Currently CAPG doesn't have any readme about flavors. It will be great if we could add one for a better developer experience.

[2022-03-12 22:24] sayantani11 commented on #555
/assign

[2022-03-14 10:12] #496 closed

[2022-03-16 14:47] richardcase commented on #512
We'll need to implement machine pools (#297) as part of this.

[2022-03-21 15:56] pydctw opened #558 "v1beta1 <-> v1alpha4 API conversion is failing"
/kind bug

**What steps did you take and what happened:**
Trying to create a cluster using ClusterClass and found that GCPClusterTemplate conversion is failing.
[code]

**What did you expect to happen:**
No error during API conversion.

**Anything else you would like to add:**
Noticed that API conversions have never been tested, meaning tests don't exist and it is why the failure was unnoticed.
We

[2022-03-21 15:56] pydctw commented on #558
/assign

[2022-03-21 17:31] pydctw opened #560 "Add quickstart e2e test with ClusterClass"
/kind feature

#### Describe the solution you'd like
To test ClusterClass based cluster creation in CAPG, we should add e2e quickstart test with ClusterClass.

[2022-03-21 17:32] pydctw opened #561 "ClusterClass support"
/kind feature

CAPI introduced a ClusterClass, an experimental feature  https://cluster-api.sigs.k8s.io/tasks/experimental-features/cluster-class/index.html, which will be used to provide easy stamping of clusters of similar shapes and improve UX.

This issue is tracking the list of tasks that should be implemented to support ClusterClass for GCP.

Tasks
- https://github.com/kubernetes-sigs/cluste

[2022-03-21 17:37] pydctw commented on #560
/assign

[2022-03-21 17:38] pydctw commented on #560
This will need to wait for https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/558 to get merged

[2022-03-22 10:39] #558 closed

[2022-03-23 22:37] pydctw opened #569 "Pick a zone for worker nodes automatically when a failureDomain is not specified in MachineDeployment"
/kind feature

This is a feature request and also a bug report for a specific case.

**Describe the solution you'd like**
CAPG should pick a zone for worker nodes automatically when a failureDomain is not specified in MachineDeployment.

**Anything else you would like to add:**
While creating a cluster, the following error occurred.
[code]

This happens because zone info for an instance spec is de

[2022-03-24 17:59] pydctw opened #570 "Implement Conditions"
/kind feature

**Describe the solution you'd like**
Add Conditions to `GCPCluster.Status` and `GCPMachine.Status`

CAPI ecosystem implemented Conditions to show the Cluster status at glance. It will be great to add conditions to GCPCluster and GCPMachine to help users to understand the status of each object better.

Tasks
* https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/577
* h

[2022-03-25 17:55] #560 closed

[2022-04-05 07:37] fiunchinho opened #575 "Support single Controller Multitenancy"
/kind feature

**Describe the solution you'd like**
Other CAPI providers support single controller multi tenancy, meaning that the controller can use different credentials at runtime when reconciling different workload clusters. It would be cool to have that feature in CAPG.

**Anything else you would like to add:**
Here are the design docs for other providers
- [CAPZ](https://github.com/kubernete

[2022-04-05 23:23] s1ntaxe770r commented on #570
Hi, @pydctw I would like to work on this. I did some research using some of the links you provided and looking at CAPZ and here is what I understand so far:

A few new types would need to be introduced like CAPZ does over here:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/82f169f652ecf26dee9f789b17bbd86776a02f88/api/v1beta1/conditions_consts.go#L23

The current GCPmachine sta

[2022-04-06 16:26] pydctw commented on #570
Hi @s1ntaxe770r, thanks for your interest in the issue. Very happy to hear that.

You are on the correct path -  providers usually create a file called conditions_consts.go to define the condition types and clusterv1.Conditions field needs to be added to GCPmachine status.

Each providers have slightly different conditions. For GCP, take a look at what's returned from GCP instance get call
* https

[2022-04-06 21:59] s1ntaxe770r commented on #570
Hey, @pydctw  thanks for pointing me in the right direction. I've looked through the links and have a few more questions

-  I noticed CAPA and CAPZ have a concept of "Reasons" example over [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/eaafc000e33e37d16b1cd1b90795674f3fd8d521/api/v1beta1/conditions_consts.go#L123) would this be necessary for GCP machines?

- Is there any

[2022-04-06 23:32] pydctw opened #576 "Add conditions to the GCPMachine object"
/kind feature

**Describe the solution you'd like**
As a user, I would like to see conditions showing the operational state of GCPMachine objects.

Umbrella issue for Conditions: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/570

**Anything else you would like to add:**

[2022-04-06 23:32] pydctw opened #577 "Add conditions to the GCPCluster object"
/kind feature

**Describe the solution you'd like**
As a user, I would like to see conditions showing the operational state of GCPCluster objects.

Umbrella issue for Conditions: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/570

**Anything else you would like to add:**

[2022-04-06 23:34] pydctw commented on #570
Created two sub-issues. Let's continue the discussion for GCPMachine conditions in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/576

[2022-04-06 23:42] pydctw commented on #576
Copying from https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/570#issuecomment-1090851633

Yes, `Reason` is a field in Condition struct and used when the status of condition is not true to provide more info.
See https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controllers/awsmachine_controller.go#L526-L548. You will get a good idea how reason is used.

I thin

[2022-04-07 00:37] pydctw commented on #576
/assign @s1ntaxe770r

[2022-04-07 01:29] s1ntaxe770r commented on #576
@pydctw thanks, I think I have enough information to get started , would ask if I have more questions as I go along

[2022-04-07 01:29] s1ntaxe770r commented on #576
/assign @s1ntaxe770r

[2022-04-07 04:28] jayesh-srivastava commented on #577
/assign

[2022-04-08 07:51] Mayank-KS commented on #512
I would like to contribute in this project for GSOC 2022 so can you help me by telling how I should get started with it?

[2022-04-08 13:51] richardcase commented on #512
@Mayank-KS @jayesh-srivastava To start with i'd start learning the core concepts of CAPI. So going through the [docs](https://cluster-api.sigs.k8s.io/) and going through [getting started](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/docs/book/src/topics/prerequisites.md).

For this change, it's important to understand the different responsibilities and contracts for:

- **

[2022-04-08 16:33] pydctw opened #578 "Add clusterctl upgrade e2e test"
/kind feature

**Describe the solution you'd like**
CAPI's [ClusterctlUpgradeSpec](https://github.com/kubernetes-sigs/cluster-api/blob/main/test/e2e/clusterctl_upgrade.go) implements a test that verifies clusterctl upgrade of a management cluster and its providers.

We should add a test to verify v1alpha4 -> v1beta1 upgrade works.

**Anything else you would like to add:**
Considering v1alpha3 is g

[2022-04-09 03:08] Mayank-KS commented on #512
@richardcase sorry for troubling you but have you deleted the reference material?

[2022-04-11 11:13] sayantani11 opened #579 "Update meeting information in the README.md"
/kind documentation

As we know, that CAPG has started it's own monthly meeting. To make things easier for new contributors, we should update our meeting details in the readme file.
The information about the meeting can be found here:
https://github.com/kubernetes/community/pull/6582/files#diff-0dfeafbc725d0fb70c96aea3dfbc5b90d4402266da37eedde85b032aaf117049R127-R130

[2022-04-11 11:15] sayantani11 commented on #579
/good-first-issue
The PR can be merged after the zoom link is decided

[2022-04-11 11:23] cpanato commented on #579
this can be just a link to the community page to avoid much changes

[2022-04-11 19:10] pydctw commented on #478
/remove-lifecycle stale

[2022-04-13 15:58] aniruddha2000 commented on #569
Hello @pydctw, I would like to work on the issue 😄

[2022-04-13 17:04] aniruddha2000 commented on #569
/assign

[2022-04-15 03:44] aniruddha2000 commented on #569
What is the difference between [ClusterScope](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/cloud/scope/cluster.go#L77) Struct and [MachineScope](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/cloud/scope/machine.go#L78) Struct? Does the `ClusterScope` is the management cluster/Control Plane specification?

There is a function called [SetFailureDomain

[2022-04-15 03:49] aniruddha2000 commented on #569
I think for the aws the `availabilityZone` is equivalent to the GCP `failureDomain`. And here in the aws [SetProviderID](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/7a545cd1aa5d05e5a0364a49b3c700341737ca61/pkg/cloud/scope/machine.go#L145) is working upon the `MachineScope` to set the availibility zone. Can we take something approach like this?

[2022-04-15 04:44] aniruddha2000 commented on #569
I think [here](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/421b2395a8c02e0f73be84e91e283193c3e718fd/controllers/gcpcluster_controller.go#L169-L196) the `failureDomain` is getting set in the control plane right?

So can I make a something similar in the [reconcile function](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/421b2395a8c02e0f73be84e91e283193c3e718fd

[2022-04-15 16:32] sayantani11 commented on #478
/assign

[2022-04-15 21:43] pydctw commented on #569
Before I gives my thoughts, feel free to explore with your ideas because there can be multiple approaches to solve this issue.

Currently, instance spec gets a zone from Machine spec's failureDomain field: [code](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/568764a89f85298cda07bec15c774f83aed2715c/cloud/scope/machine.go#L311)

[code]

The `Machine.Spec.FailureDomain` comes from

[2022-04-15 21:44] pydctw commented on #569
We don't want to update MachineDeployment failure domain if it is not already set.

[2022-04-15 21:48] pydctw commented on #569
`SetProviderID` sets a provider ID after an instance is created using an Info returned from AWS. As we want to set a zone to create an instance, it is not related.

[2022-04-16 11:18] mehabhalodiya commented on #561
@pydctw I think we should close this as I see the listed tasks have been addressed.

[2022-04-16 13:29] sayantani11 commented on #578
/assign

[2022-04-17 04:52] ibnjunaid commented on #579
/assign

[2022-04-17 05:13] ibnjunaid commented on #579
@sayantani11 is the zoom link decided? If yes can you please give it to me?

[2022-04-18 06:02] calderonIrene commented on #478
Hello! My name is Irene Calderón, I am a third year student of computer engineering eager to continue learning and start to be included in the working world.

I am enrolled in the GCoS and this project has caught my attention because it is not one of the topics that are most covered at the university and I really like it.

I would be interested in helping and thus enhance my knowledge.

I hope you

[2022-04-18 15:16] pydctw commented on #561
Adding a documentation is still on my to-do list.

[2022-04-20 17:54] pydctw commented on #512
Related: [Managed Kubernetes proposal in CAPI](https://docs.google.com/document/d/1dMN4-KppBkA51sxXPSQhYpqETp2AG_kHzByXTmznxFA/edit)

[2022-04-21 22:27] pydctw commented on #561
/assign

[2022-04-23 12:38] itspngu commented on #444
/remove-lifecycle stale

[2022-04-27 20:04] pydctw opened #592 "Enable apidiff to report only actual API changes"
/kind bug

**What steps did you take and what happened:**
Recently added apidiff reports any changes in exposed field/function as breaking changes.

As an example, one of recent [PR test](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-gcp/587/pull-cluster-api-provider-gcp-apidiff/1518554081407275008) fails with the following output, which doesn't h

[2022-04-27 20:05] pydctw commented on #592
/good-first-issue
/help

[2022-04-28 16:59] pydctw opened #593 "Automatically create firewall rules for networks"
/kind feature

**Describe the solution you'd like**
Currently, a user needs to create and delete firewall rules manually if they want to use a network other than `default` one. CAPG should automate this and create firewall rules for networks created by CAPG.

Also, firewall rules should allow only necessary traffic flow and restrict source/destinations, meaning current firewall rules need to be re

[2022-04-28 16:59] pydctw commented on #593
cc @lubronzhan

[2022-04-29 04:07] sayantani11 commented on #593
So I was thinking do we add another condition or modify the existing?

[2022-04-29 21:51] pydctw commented on #593
We will need to delete some existing rules and add more rules to define more granular rules. For example, firewall rules for control plane and worker nodes should be different.

[2022-05-05 16:13] jayesh-srivastava commented on #577
@aniruddha2000 Sorry for being inactive. Was caught up among other stuff. Yes I had initially researched about the issue and I definitely plan on working on this after few days. In case I am unable to do so, I'll unassign myself and ping you for sure. Will it be okay?

[2022-05-06 11:33] criscola opened #596 "SSH error while building gce-ubuntu-1804"
/kind bug

**What steps did you take and what happened:**
I followed https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/docs/book/src/topics/prerequisites.md until `make build-gce-ubuntu-1804` then got the following error:

[code]

I used the default network and followed the steps before.

**What did you expect to happen:**
I expected my image to be built successfully on GCP.

*

[2022-05-08 16:13] aniruddha2000 commented on #293
@prksu hi if you are not working on the project then I would be happy to take it forward :)

Few confirmations @detiber -

- Does the `GCPMachine.Spec.Version` is meant by [this](https://github.com/kubernetes-sigs/cluster-api/blob/main/api/v1beta1/machine_types.go#L74)?
- And Image & ImageFamily means [this](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/api/v1beta1/gcpmachi

[2022-05-09 16:26] aniruddha2000 commented on #293
/assign

[2022-05-10 08:36] criscola commented on #596
Found it... I had to put this
[code]
in my `~/.ssh/config` file.

[2022-05-10 08:36] #596 closed

[2022-05-10 21:00] sathieu commented on #152
What is the status of this? Any image publicly available?

[2022-05-11 07:50] cpanato commented on #152
we publish some nightly images that we rebuild everyday, if you want i can share the project and maybe you can copy from there for your own project

[2022-05-11 08:10] sathieu commented on #152
@cpanato Thanks. Could the image be made public as per https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/152#issuecomment-738339787?

[2022-05-19 07:23] khannakshat7 opened #604 "Fix Cluster API image link in README.md"
/kind bug

**What steps did you take and what happened:**
The image link of CAPI is broken in [README.md](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/README.md)

**What did you expect to happen:**
The image should load correctly from the source

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

-

[2022-05-19 07:24] khannakshat7 commented on #604
/assign

[2022-05-23 07:30] #604 closed

[2022-05-26 17:19] kernelpanic77 commented on #289
Hello @cpanato @dims @richardcase!
I am Ishan from India. I am currently working in the computer vision domain, particularly in Medical-AI. Along with Distributed Systems, I also have knowledge of machine learning. I found the Kubernetes-sigs project extremely interesting and wanted to contribute to adding GPU support as Part of LFX for Summer 2022. I am currently going through the documentation t

[2022-05-29 18:14] AverageMarcus commented on #540
/remove-lifecycle stale

[2022-06-01 17:15] cailynse commented on #592
/assign

[2022-06-01 18:05] Anubhavdevv commented on #509
@sayantani11 Please Review it

[2022-06-02 12:06] cpanato commented on #509
there is no issue wit the images in the readme at this moment
closing this issue

[2022-06-02 12:06] #509 closed

[2022-06-06 06:30] ShivamTyagi12345 commented on #592
I have been doing NonCode Contributions so far at Kubernetes for over a year now skipping a few months while being regular over the others. Now I would like to do consistent code contributions.

It may take me longer than other contributors but I would like to solve this issue.I would really appreciate an initial help on getting started

/assign

[2022-06-07 13:00] #569 closed

[2022-06-07 13:46] jayesh-srivastava opened #620 "Link-check test failing due to a broken link."
/kind bug

**What steps did you take and what happened:**
Link-check/Broken Links test is failing due to a broken link in [releasing.md](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/docs/book/src/developers/releasing.md).

**What did you expect to happen:**
The correct link should be added so the test could pass.

**Anything else you would like to add:**
At line 17, the ex

[2022-06-07 13:46] jayesh-srivastava commented on #620
/good-first-issue

[2022-06-07 14:56] Anubhavdevv commented on #620
I would like to contribute to it

[2022-06-07 15:04] Aayush987 commented on #620
I have almost made the pr with the applied changes. You can look out for other good first issues on the issues tab.

[2022-06-07 17:25] jayesh-srivastava commented on #620
@Anubhavdevv Looks like you're a bit late. @Aayush987 had already assigned this to himself. You can always look for other issues.

[2022-06-07 17:29] Anubhavdevv commented on #620
ok no issues

[2022-06-09 07:18] NitishKumar06 commented on #579
Hi @ibnjunaid Are you working on this issue?

[2022-06-10 13:35] hrittikhere opened #622 "GitHub Link Check throw 403 for github.com"
/kind bug

**What steps did you take and what happened:**
I think there might be some issue with the action implementation for GitHub related links as the link can be perfectly accessed via a [WebUI](https://docs.github.com/en/authentication/managing-commit-signature-verification/generating-a-new-gpg-key). Now after further investigation via curl we can see:

[code]
![image](https://user-images.gi

[2022-06-13 12:43] mmlk09 opened #625 "Unable to create GCP cluster by following steps mentioned in quick start guide"
**What steps did you take and what happened:**
Following GCP instructions mentioned here:
https://cluster-api.sigs.k8s.io/user/quick-start.html

**What did you expect to happen:**
A GCP cluster expected to be created in specified region and project

**Anything else you would like to add:**
Control plane VM is created and available in GCP console, steps after this seems to be not proceeding to comp

[2022-06-15 15:39] mmlk09 commented on #625
**New error in capi-kubeadm-control-plane-controller-manager:**

I0615 15:32:47.847933       1 kubeadmconfig_controller.go:236] controller/kubeadmconfig "msg"="Cluster infrastructure is not ready, waiting" "kind"="Machine" "name"="gke-capi-md-0-7fbbd576bd-j56dm" "namespace"="default" "reconciler group"="bootstrap.cluster.x-k8s.io" "reconciler kind"="KubeadmConfig" "version"="1377"
**2022/06/15 15:

[2022-06-18 13:19] itspngu opened #629 "Document the exact IAM permissions needed on the GSA used by CAPG"
/kind documentation

The Quickstart/Prerequisite docs at https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/docs/book/src/topics/prerequisites.md#create-a-service-account ask the user to

Assigning such a broad aggregated IAM role to a service account is problematic from a security perspective. The exact permissions the GSA needs should be documented, and ideally any e2e tests w

[2022-06-18 13:20] itspngu commented on #629
/assign

[2022-06-18 13:35] itspngu commented on #625
The nodes will not be provisioned before the control plane is ready, and the control plane will not announce itself as ready before a CNI plugin has been installed. If you did deploy CNI and the `KubeadmControlPlane` still refuses to enter `Ready` state, another good place to look for problems with control plane bootstrap is the serial console output of the control plane VM on GCP, kubelet will ty

[2022-06-19 04:49] mmlk09 commented on #625
Following error is showing on GCM VM serial console, how do I fix this?

gke-capi-control-plane-bzjmd login: Jun 19 04:46:52 gke-capi-control-plane-bzjmd systemd[1]: kubelet.service: Scheduled restart job, restart counter is at 74.
Jun 19 04:46:52 gke-capi-control-plane-bzjmd systemd[1]: Stopped kubelet: The Kubernetes Node Agent.
Jun 19 04:46:52 gke-capi-control-plane-bzjmd systemd[1]: Started ku

[2022-06-19 07:57] itspngu commented on #625
You will likely find the reason it fails to start earlier in the logs, I remember seeing kubelet complain about missing `/var/lib/kubelet/config.yaml` and then it ended up being due to CNI problems.

PS: If you post code or log messages on Github, it's a lot easier for everyone to read them if you format them as code: https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-f

[2022-06-22 14:49] sayantani11 commented on #490
/open

[2022-06-22 14:50] sayantani11 commented on #490
/remove-lifecycle rotten

[2022-06-23 06:15] zkl94 commented on #625
having exactly the same issue

[2022-06-23 14:46] pashok2398 opened #636 "Missing IMAGE_ID in the documentation"
/kind bug
Missing
[code]
Reproduce:
[code]

**Environment:**

- Cluster-api version:
[code]
- Minikube/KIND version:
[code]
- Kubernetes version: (use `kubectl version`):
[code]
- OS (e.g. from `/etc/os-release`):
[code]

[2022-06-24 07:59] harshitasao commented on #636
/assign

[2022-06-24 14:44] sathieu commented on #152
Thanks @cpanato. I've not found (yet) how to access those images ...

[2022-06-24 14:58] cpanato commented on #152
you can check here https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/scripts/ci-e2e.sh#L56 we export the IMAGE_ID and then you can use to bootstrap the cluster

[2022-06-28 14:45] sayantani11 commented on #392
/reopen

[2022-06-29 06:28] khannakshat7 commented on #636
@harshitasao Are you working on it ? Can I assign it to myself and work on it?

[2022-06-29 06:50] harshitasao commented on #636
Hi @khannakshat7, Yes I'm working on it.

[2022-06-30 07:38] sayantani11 commented on #491
/remove-lifecycle stale

[2022-06-30 07:38] sayantani11 commented on #491
/assign

[2022-06-30 07:40] sayantani11 commented on #428
/close

[2022-06-30 07:40] #428 closed

[2022-06-30 09:55] akshay196 commented on #512
@richardcase Hey. I am trying to understand the relation of `GCPMachinePool` in adding GKE support. As per the [manged node group for worker nodes](https://docs.google.com/document/d/1dMN4-KppBkA51sxXPSQhYpqETp2AG_kHzByXTmznxFA/edit#heading=h.dztopxkdpkib) in above doc, `GCPManagedMachinePool` represents the node pools. Hence gcp-managed-machine-pool controller will take care of creating/deleting

[2022-06-30 14:06] evanfreed opened #643 "Enable Feature Gates"
/kind feature

**Describe the solution you'd like**
Other providers support feature gates (ex. [AWS](https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/main/feature) and [Azure](https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/main/feature)).  It'd be good to align this wiring with the other CSPs.  This will be needed to support additional functionality and features

[2022-06-30 14:06] evanfreed commented on #643
/assign

[2022-07-02 02:28] sayantani11 commented on #451
/reopen
/remove-lifecycle rotten

[2022-07-02 02:29] sayantani11 commented on #451
lifecycle/frozen

[2022-07-02 02:30] sayantani11 commented on #454
/reopen
/remove-lifecycle rotten

[2022-07-02 02:36] sayantani11 commented on #419
/lifecycle frozen
/help

[2022-07-02 02:36] sayantani11 commented on #451
/lifecycle frozen
/help

[2022-07-02 02:36] sayantani11 commented on #454
/lifecycle frozen
/help

[2022-07-02 02:37] sayantani11 commented on #490
/lifecycle frozen

[2022-07-02 02:37] sayantani11 commented on #478
/lifecycle frozen

[2022-07-02 02:37] sayantani11 commented on #555
/remove-lifecycle stale

[2022-07-02 02:38] sayantani11 commented on #419
/remove-lifecycle stale

[2022-07-02 02:38] sayantani11 commented on #419
/lifecycle frozen

[2022-07-04 09:32] fiunchinho commented on #575
/remove-lifecycle stale

[2022-07-06 17:07] pydctw commented on #570
/remove-lifecycle stale

[2022-07-06 17:07] pydctw commented on #576
/remove-lifecycle stale

[2022-07-07 13:49] dkoshkin opened #651 "When Zone not set, reconcile fails after 'clusterctl move'"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Create a cluster using a bootstrap cluster and not set a `failureDomain` on a `MachineDeployment`
2. Run `clusterctl move` to move the CAPI resources to the workload cluster

[code]

**What did you expect to happen:**
It should be possible to `clusterctl move` the cluster even when no

[2022-07-08 15:28] richardcase commented on #643
This will be needed for #297, as machine pools are still experimental.

[2022-07-15 07:34] #510 closed

[2022-07-15 17:28] caulagi commented on #278
Seems to be fixed in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/331 or?

[2022-07-18 15:10] pydctw commented on #578
/remove-lifecycle stale

[2022-07-28 15:17] #392 closed

[2022-07-29 15:48] Prajyot-Parab commented on #592
@ShivamTyagi12345 Please let me know if you are still working on this one. If not, I will pick it up.

[2022-07-29 15:59] ShivamTyagi12345 commented on #592
Go ahead

[2022-07-29 16:01] Prajyot-Parab commented on #592
/unassign @ShivamTyagi12345
/assign @Prajyot-Parab

[2022-07-31 11:24] aniruddha2000 commented on #651
/assign

[2022-08-01 16:32] #592 closed

[2022-08-02 03:45] aniruddha2000 commented on #651
@dkoshkin If you could help me with reproducing the issue like what is the command you executed?
After which command did you run the `clusterctl move`?

[2022-08-05 12:05] fiunchinho opened #676 "Subnets defined on GCPCluster are not created"
/kind bug

**What steps did you take and what happened:**

Users can define their subnets on the `GCPCluster.Spec.Network.Subnets` field, but we don't do anything with that information: subnets are not reconciled. On other CAPI providers, users can define their subnets here, and those subnets will be managed by the CAPI provider. I think we should do the same.

**What did you expect to happen:**

[2022-08-10 15:34] evanfreed commented on #636
/assign

[2022-08-10 17:23] evanfreed opened #681 "Add codespell to CI"
/kind feature

**Describe the solution you'd like**
To limit the number of spelling issues, it'd be nice to incorporate https://github.com/codespell-project/codespell.

[2022-08-10 17:23] evanfreed commented on #681
/assign

[2022-08-10 17:43] cpanato commented on #681
the other CAPx are using this as well?

[2022-08-11 14:05] #636 closed

[2022-08-11 16:50] evanfreed commented on #681
Azure [does](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/.github/workflows/codespell.yml) but it doesn't look like AWS does.  Seems to be more independently decided.  This is more suggestion to keep things clean and consistent, I'm fine either way.

[2022-08-12 14:25] sayantani11 commented on #629
@itspngu Any updates?

[2022-08-12 14:25] sayantani11 commented on #629
related to #451

[2022-08-12 14:56] itspngu commented on #629
Hey, haven't had the chance to work on this yet sadly because I'm blocked internally. Feel free to re-assign if it's urgent and somebody else wants to work on this issue, else I will report back with my findings once I had the opportunity to iron things out.

[2022-08-12 18:41] evanfreed opened #683 "Template failureDomain default value"
**What steps did you take and what happened:**
I've been referencing the [cluster-template.yaml  ](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/main/templates/cluster-template.yaml#L84) and mixing in some of our own configuration with Kustomize.  One issue I've ran into is `error retrieving bootstrap data: linked Machine's bootstrap.dataSecretName is nil` error message.  My und

[2022-08-13 20:16] sayantani11 commented on #629
Yeah sure! Take your time. I was just checking in, nothing urgent.

On Fri, 12 Aug 2022 at 20:27, Thorben ***@***.***> wrote:

[2022-08-15 17:49] evanfreed commented on #278
Agreed this has been fixed.

[2022-08-15 19:44] evanfreed commented on #297
@jayesh-srivastava just curious if you are still working on this? Myself or another colleague of mine might have some cycles to pick this up if you need any help.

[2022-08-17 21:42] evanfreed commented on #683
/assign

[2022-08-19 07:45] #683 closed

[2022-08-19 17:14] SD-13 commented on #620
Hey @jayesh-srivastava, is this issue still available?

[2022-08-19 23:48] pydctw commented on #561
/close

[2022-08-22 09:10] fiunchinho opened #694 "code coverage ci job doesn't work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The code coverage ci job fails, for example here https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-gcp/677/pull-cluster-api-provider-gcp-coverage/1561635872573493248

[code]

Comparing [to the job defined for CAPZ in the test-infra repo](ht

[2022-08-22 12:25] cpanato commented on #694
/assign

[2022-08-22 13:35] #694 closed

[2022-08-22 14:51] #561 closed

[2022-08-22 20:32] sayantani11 opened #698 "Simplify and reuse variables in `hack/tools/*.sh` scripts"
/kind feature

**Describe the solution you'd like**
We have a few variables in CAPG that are being reused in every script. A good addition will be if we introduce a new script called `common_vars.sh` which will have all the common variables like `KUBECTL`, `KIND`, `KUSTOMIZE` , which will be referenced in the `hack/tools*.sh` scripts. This will simplify and reuse of the variables. I have seen this

[2022-08-22 20:32] sayantani11 commented on #698
/good-first-issue
/help

[2022-08-23 17:46] pydctw commented on #593
/remove-lifecycle stale

[2022-08-23 17:46] pydctw commented on #577
/remove-lifecycle stale

[2022-08-24 19:14] viveksahu26 commented on #698
Hey @sayantani11 , I am really willing to work on this issue.
/assign

[2022-08-25 14:42] fiunchinho opened #701 "Replace slice of pointers with slice of objects"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I wanted to add a new field to our `SubnetSpec` type but conversion functions generated by `conversion-gen` are wrongly generated. Apparently, this is a known issue described here https://github.com/kubernetes/kubernetes/issues/98380. The problem only occurs when dealing with slices o

[2022-08-27 19:17] AverageMarcus commented on #540
/remove-lifecycle stale
/lifecycle frozen

[2022-08-28 07:21] AverageMarcus commented on #297
@CecileRobertMichon could we also add as a requirement to this ticket that (if actually merged) the [externally-managed autoscaller annotation](https://github.com/kubernetes-sigs/cluster-api/pull/7107) is also supported / implemented as part of this?

[2022-08-29 16:09] CecileRobertMichon commented on #297
@AverageMarcus added a note in description

[2022-08-29 16:43] AverageMarcus commented on #297
Perfect! Thank you!

[2022-08-30 19:03] harveyxia commented on #625
I'm having the same issue.

For context my team is trying to implement support for MachinePools via MIGs ([issue here](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/297)), but we can't start development until we have the current master state working. Could we get some assistance?

[2022-09-02 12:14] #676 closed

[2022-09-02 18:46] faiq opened #708 "Feature request: list default available failure domains for CAPG cluster"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As a cluster administrator, I'd like a list of available failure domains for the GCP Cluster I have created and for that to be reflected in the cluster status.

Other Cluster API provider such as CAPA and CAPZ provide this functionality see:

- [CAPZ status](https://github.com/kuberne

[2022-09-06 14:10] #701 closed

[2022-09-08 08:49] nsilve commented on #297
I have pinged @jayesh-srivastava via Slack and he told me that he is not able to work on this issue due to personal commitments. @evanfreed and myself are going to work on it unless there is any objection.

[2022-09-08 08:55] nsilve commented on #297
Pending blockers:
- https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/643
- https://github.com/GoogleCloudPlatform/k8s-cloud-provider/pull/71
- https://github.com/kubernetes-sigs/cluster-api/pull/7107

[2022-09-09 14:31] evanfreed commented on #297
/unassign

/assign @nsilve

[2022-09-09 14:32] evanfreed commented on #297
/unassign @jayesh-srivastava

[2022-09-12 19:29] nsilve commented on #297
Azure does not support any kind of templating for instance creation, so all the configuration should be included into VMSS (so into AzureMachinePool). But both AWS and GCP have discrete template resources for ASG (launch template)/MIG (instance template) so we are having the following options:
1. manage GCP instance templates internally to GCP Machine Pool controller (like [CAPA](https://github.co

[2022-09-20 14:22] #444 closed, assigned to nobody

[2022-09-28 13:51] richardcase commented on #512
/remove-lifecycle stale

[2022-09-28 13:52] richardcase commented on #512
I'm unlikely to have the spare time to complete this myself, so:

/unassign

I'd be happy to mentor someone implementing this though (based on the advice from the proposal).

[2022-09-30 03:24] harshitasao commented on #698
Hi @sayantani11. Since there hasn't been any progress on this issue in a long time, I'd like to take it up.

/assign

[2022-09-30 11:57] sayantani11 commented on #698
/unassign @viveksahu26

[2022-10-04 10:47] nsilve opened #731 "Support resource updating during reconciliation"
/kind feature

**Describe the solution you'd like**
The services reconciliations do not support updating of the resources since all the functions are named `createOrGet...`. The user is only able to create the needed services and in case they want to update something, they need to recreate (delete and create) the resource.
We need to support full reconciliation for all the resources/parts of them

[2022-10-08 15:56] SubhasmitaSw commented on #593
I'd like to work on this, @pydctw is this still up for assignment?

[2022-10-08 22:10] sayantani11 commented on #593
@SubhasmitaSw guess it is

[2022-10-10 02:27] pydctw commented on #593
@SubhasmitaSw, this is a much needed feature. Go for it.

[2022-10-10 10:06] richardcase commented on #643
/remove-lifecycle stale

[2022-10-10 16:47] sayantani11 commented on #579
/remove-lifecycle rotten

[2022-10-10 16:47] sayantani11 commented on #491
/remove-lifecycle stale

[2022-10-14 08:56] richardcase commented on #512
I have now changed jobs so:

/assign
/lifecycle active

[2022-10-20 05:17] SubhasmitaSw commented on #593
I may be a bit slow to respond, but I'm working on it!

/assign

[2022-11-03 09:19] #643 closed

[2022-11-03 18:16] pydctw commented on #576
/remove-lifecycle rotten

[2022-11-03 18:16] pydctw commented on #570
/remove-lifecycle rotten

[2022-11-03 18:16] pydctw commented on #578
/remove-lifecycle stale

[2022-11-09 18:30] evanfreed commented on #681
/remove-lifecycle stale

[2022-11-23 16:59] richardcase commented on #512
/assign richardchen-db

[2022-11-23 17:00] richardcase commented on #512
/assign richardchen331

[2022-11-23 17:00] richardcase commented on #512
Great, we are both assigned node

[2022-11-24 14:15] jayesh-srivastava commented on #512
@richardchen331 I also want to be a part of this, would like to assist you and @richardcase, and want to understand the whole process for this implementation if that's okay.

[2022-11-24 16:05] richardcase commented on #512
@jayesh-srivastava - we have started to break the work down, see the task list in the description ^^^^^, and this was based on the proposal in #764.

Shall the 3 of us have a call to discuss?

[2022-11-24 18:54] jayesh-srivastava commented on #512
@richardcase Thanks. Sure, I'm up for a call.

[2022-11-29 07:55] silenteh opened #768 "Invalid equality prevents the usage of local-ssd disks"
/kind bug

While trying to use local-ssd disks I came across the following error:

[code]

After further inspection of the source code it turns out that the following equality can never be satisfied.

https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/26add93f103a6ca8ca9fb9f26873cd5a51d64cf4/cloud/scope/machine.go#L257

I have a fix ready for it, however, before I open a pull request

[2022-11-30 18:37] aniruddha2000 commented on #512
I want to work on some of the parts too. I will start looking at the proposal and if there is some call I am happy to hop on.